<div class="navHead">
    <i class="fas fa-times"></i>
</div>
<div class="menu-departamento">
    <h3 class="Women hasSubmenu">
        <a class="menu-item-texto" href="/women?O=OrderByReleaseDateDESC">Women <i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <div class="submenu" id="Women">
        <div class="submenuWrap">
            <ul>
                <li><a href="/busca/?fq=H:137">New in</a></li>
                <li class="designes">
                    <a href="/designers">Designers</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/women/clothing?O=OrderByReleaseDateDESC">Clothing</a>
                    
                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/women/clothing/denim?O=OrderByReleaseDateDESC">Denim</a></li>
                            <li><a href="/women/clothing/dresses?O=OrderByReleaseDateDESC">Dresses</a></li>
                            <li><a href="/women/clothing/jackets?O=OrderByReleaseDateDESC">Jackets</a></li>
                            <li><a href="/women/clothing/jumpsuits-&amp;-all-in-ones?O=OrderByReleaseDateDESC">Jumpsuits &amp; All in Ones</a></li>
                            <li><a href="/women/clothing/knitwear?O=OrderByReleaseDateDESC">Knitwear</a></li>
                            <li><a href="/women/clothing/lingerie?O=OrderByReleaseDateDESC">Lingerie</a></li>
                            <li><a href="/women/clothing/shorts?O=OrderByReleaseDateDESC">Shorts</a></li>
                            <li><a href="/women/clothing/skirts?O=OrderByReleaseDateDESC">Skirts</a></li>
                            <li><a href="/women/clothing/tops?O=OrderByReleaseDateDESC">Tops</a></li>
                            <li><a href="/women/clothing/pants?O=OrderByReleaseDateDESC">Pants</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/women/shoes?O=OrderByReleaseDateDESC">Shoes</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/women/shoes/boots?O=OrderByReleaseDateDESC">Boots</a></li>
                            <li><a href="/women/shoes/flat-shoes?O=OrderByReleaseDateDESC">Flat Shoes</a></li>
                            <li><a href="/women/shoes/flip-flops-&amp;-slides?O=OrderByReleaseDateDESC">Flip Flops &amp; Slides</a></li>
                            <li><a href="/women/shoes/jelly-shoes ?O=OrderByReleaseDateDESC">Jelly Shoes</a></li>
                            <li><a href="/women/shoes/mules?O=OrderByReleaseDateDESC">Mules</a></li>
                            <li><a href="/women/shoes/pumps?O=OrderByReleaseDateDESC">Pumps</a></li>
                            <li><a href="/women/shoes/sandals?O=OrderByReleaseDateDESC">Sandals</a></li>
                            <li><a href="/women/shoes/slippers?O=OrderByReleaseDateDESC">Slippers</a></li>
                            <li><a href="/women/shoes/sneakers?O=OrderByReleaseDateDESC">Sneakers</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/women/bags?O=OrderByReleaseDateDESC">Bags</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/women/bags/backpacks?O=OrderByReleaseDateDESC">Backpacks</a></li>
                            <li><a href="/women/bags/bag-accessories?O=OrderByReleaseDateDESC">Bag Accessories</a></li>
                            <li><a href="/women/bags/belt-bags?O=OrderByReleaseDateDESC">Belt Bags</a></li>
                            <li><a href="/women/bags/clutch-bags?O=OrderByReleaseDateDESC">Clutch Bags</a></li>
                            <li><a href="/women/bags/crossbody-bags?O=OrderByReleaseDateDESC">Crossbody Bags</a></li>
                            <li><a href="/women/bags/luggage?O=OrderByReleaseDateDESC">Luggage</a></li>
                            <li><a href="/women/bags/mini-bags?O=OrderByReleaseDateDESC">Mini Bags</a></li>
                            <li><a href="/women/bags/satchel?O=OrderByReleaseDateDESC">Satchel</a></li>
                            <li><a href="/women/bags/shoulder-bags?O=OrderByReleaseDateDESC">Shoulder Bags</a></li>
                            <li><a href="/women/bags/tote-bags?O=OrderByReleaseDateDESC">Tote Bags</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/women/activewear?O=OrderByReleaseDateDESC">Activewear</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/women/activewear/capris?O=OrderByReleaseDateDESC">Capris</a></li>
                            <li><a href="/women/activewear/jackets-&amp;-vests?O=OrderByReleaseDateDESC">Jackets &amp; Vests</a></li>
                            <li><a href="/women/activewear/jumpsuits-&amp;-all-in-ones?O=OrderByReleaseDateDESC">Jumpsuits &amp; All in Ones</a></li>
                            <li><a href="/women/activewear/leggings?O=OrderByReleaseDateDESC">Leggings</a></li>
                            <li><a href="/women/activewear/pants?O=OrderByReleaseDateDESC">Pants</a></li>
                            <li><a href="/women/activewear/shorts-&amp;-skirts?O=OrderByReleaseDateDESC">Shorts &amp; Skirts</a></li>
                            <li><a href="/women/activewear/sports-bras?O=OrderByReleaseDateDESC">Sports Bras</a></li>
                            <li><a href="/women/activewear/tops?O=OrderByReleaseDateDESC">Tops</a></li>
                            <li><a href="/women/activewear/yoga?O=OrderByReleaseDateDESC">Yoga</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/women/jewelry?O=OrderByReleaseDateDESC">Jewelry</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/women/jewelry/bracelets?O=OrderByReleaseDateDESC">Bracelets</a></li>
                            <li><a href="/women/jewelry/broches-&amp;-pins?O=OrderByReleaseDateDESC">Broches &amp; Pins</a></li>
                            <li><a href="/women/jewelry/earrings?O=OrderByReleaseDateDESC">Earrings</a></li>
                            <li><a href="/women/jewelry/necklaces?O=OrderByReleaseDateDESC">Necklaces</a></li>
                            <li><a href="/women/jewelry/rings?O=OrderByReleaseDateDESC">Rings</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/women/accessories?O=OrderByReleaseDateDESC">Acessories</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/women/accessories/belts?O=OrderByReleaseDateDESC">Belts</a></li>
                            <li><a href="/women/accessories/hair-accessories?O=OrderByReleaseDateDESC">Hair Accessories</a></li>
                            <li><a href="/women/accessories/keyrings-&-chains?O=OrderByReleaseDateDESC">Keyrings & Chains</a></li>
                            <li><a href="/women/accessories/make-up-bags?O=OrderByReleaseDateDESC">Make Up Bags</a></li>
                            <li><a href="/women/accessories/scarves?O=OrderByReleaseDateDESC">Scarves</a></li>
                            <li><a href="/women/accessories/wallets-&-purses?O=OrderByReleaseDateDESC">Wallets & Purses</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li><a href="/busca/?fq=H:138">Sustainable</a></li>
                <li><a href="/busca/?fq=H:139">Sale</a></li>
            </ul>
        </div>
    </div>
    <h3 class="Men hasSubmenu">
        <a class="menu-item-texto" href="/men?O=OrderByReleaseDateDESC">Men <i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <div class="submenu" id="Men">
        <div class="submenuWrap">
            <ul>
                <li>
                    <a href="/busca/?fq=H:140">New in</a>
                </li>
                <li class="designes">
                    <a href="/designers">Designers</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/men/clothing?O=OrderByReleaseDateDESC">Clothing</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/men/clothing/beachwear?O=OrderByReleaseDateDESC">Beachwear</a></li>
                            <li><a href="/men/clothing/denim?O=OrderByReleaseDateDESC">Denim</a></li>
                            <li><a href="/men/clothing/jackets-&-vests?O=OrderByReleaseDateDESC">Jackets & Vests</a></li>
                            <li><a href="/men/clothing/pants?O=OrderByReleaseDateDESC">Pants</a></li>
                            <li><a href="/men/clothing/shirts?O=OrderByReleaseDateDESC">Shirts</a></li>
                            <li><a href="/men/clothing/shorts?O=OrderByReleaseDateDESC">Shorts</a></li>
                            <li><a href="/men/clothing/sweaters-&amp;-knitwear?O=OrderByReleaseDateDESC">Sweaters &amp; Knitwear</a></li>
                            <li><a href="/men/clothing/underwear-&amp;-socks?O=OrderByReleaseDateDESC">Underwear &amp; Socks</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/men/shoes?O=OrderByReleaseDateDESC">Shoes</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/men/shoes/boots?O=OrderByReleaseDateDESC">Boots</a></li>
                            <li><a href="/men/shoes/flip-flops-&-slides?O=OrderByReleaseDateDESC">Flip Flops & Slides</a></li>
                            <li><a href="/men/shoes/loafers?O=OrderByReleaseDateDESC">Loafers</a></li>
                            <li><a href="/men/shoes/mocassins?O=OrderByReleaseDateDESC">Mocassins</a></li>
                            <li><a href="/men/shoes/oxfords?O=OrderByReleaseDateDESC">Oxfords</a></li>
                            <li><a href="/men/shoes/sandals?O=OrderByReleaseDateDESC">Sandals</a></li>
                            <li><a href="/men/shoes/sneakers?O=OrderByReleaseDateDESC">Sneakers</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/men/acessories?O=OrderByReleaseDateDESC">Accessories</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/men/accessories/belts?O=OrderByReleaseDateDESC">Belts</a></li>
                            <li><a href="/men/accessories/keyrings-&-chains?O=OrderByReleaseDateDESC">Keyrings & Chains</a></li>
                            <li><a href="/men/accessories/scarves?O=OrderByReleaseDateDESC">Scarves</a></li>
                            <li><a href="/men/accessories/ties?O=OrderByReleaseDateDESC">Ties</a></li>
                            <li><a href="/men/accessories/wallets?O=OrderByReleaseDateDESC">Wallets</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li><a href="/busca/?fq=H:142">Sale</a></li>
            </ul>
        </div>
    </div>
    <h3 class="kids hasSubmenu">
        <a class="menu-item-texto" href="/kids?O=OrderByReleaseDateDESC">Kids<i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <div class="submenu" id="kids">
        <div class="submenuWrap">
            <ul>
                <li><a href="/busca/?fq=H:143">New In</a></li>
                <li class="designes">
                    <a href="/designers">Designers</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/kids/baby-girls?O=OrderByReleaseDateDESC">Baby Girls</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/kids/baby-girls/accessories?O=OrderByReleaseDateDESC">Accessories</a></li>
                            <li><a href="/kids/baby-girls/baby-Suits?O=OrderByReleaseDateDESC">Baby Suits</a></li>
                            <li><a href="/kids/baby-girls/coats?O=OrderByReleaseDateDESC">Coats</a></li>
                            <li><a href="/kids/baby-girls/dresses?O=OrderByReleaseDateDESC">Dresses</a></li>
                            <li><a href="/kids/baby-girls/jackets?O=OrderByReleaseDateDESC">Jackets</a></li>
                            <li><a href="/kids/baby-girls/shoes?O=OrderByReleaseDateDESC">Shoes</a></li>
                            <li><a href="/kids/baby-girls/shorts?O=OrderByReleaseDateDESC">Shorts</a></li>
                            <li><a href="/kids/baby-girls/skirts?O=OrderByReleaseDateDESC">Skirts</a></li>
                            <li><a href="/kids/baby-girls/swimwear?O=OrderByReleaseDateDESC">Swimwear</a></li>
                            <li><a href="/kids/baby-girls/tops?O=OrderByReleaseDateDESC">Tops</a></li>
                            <li><a href="/kids/baby-girls/tracksuits?O=OrderByReleaseDateDESC">Tracksuits</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/kids/baby-boys?O=OrderByReleaseDateDESC">Baby Boys</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/kids/baby-boys/accessories?O=OrderByReleaseDateDESC">Accessories</a></li>
                            <li><a href="/kids/baby-boys/baby-Suits?O=OrderByReleaseDateDESC">Baby Suits</a></li>
                            <li><a href="/kids/baby-boys/coats?O=OrderByReleaseDateDESC">Coats</a></li>
                            <li><a href="/kids/baby-boys/dresses?O=OrderByReleaseDateDESC">Dresses</a></li>
                            <li><a href="/kids/baby-boys/jackets?O=OrderByReleaseDateDESC">Jackets</a></li>
                            <li><a href="/kids/baby-boys/shoes?O=OrderByReleaseDateDESC">Shoes</a></li>
                            <li><a href="/kids/baby-boys/shorts?O=OrderByReleaseDateDESC">Shorts</a></li>
                            <li><a href="/kids/baby-boys/skirts?O=OrderByReleaseDateDESC">Skirts</a></li>
                            <li><a href="/kids/baby-boys/swimwear?O=OrderByReleaseDateDESC">Swimwear</a></li>
                            <li><a href="/kids/baby-boys/tops?O=OrderByReleaseDateDESC">Tops</a></li>
                            <li><a href="/kids/baby-boys/tracksuits?O=OrderByReleaseDateDESC">Tracksuits</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/kids/girls?O=OrderByReleaseDateDESC">Girls</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/kids/girls/accessories?O=OrderByReleaseDateDESC">Accessories</a></li>
                            <li><a href="/kids/girls/coats?O=OrderByReleaseDateDESC">Coats</a></li>
                            <li><a href="/kids/girls/denim?O=OrderByReleaseDateDESC">Denim</a></li>
                            <li><a href="/kids/girls/dresses?O=OrderByReleaseDateDESC">Dresses</a></li>
                            <li><a href="/kids/girls/jackets?O=OrderByReleaseDateDESC">Jackets</a></li>
                            <li><a href="/kids/girls/pants?O=OrderByReleaseDateDESC">Pants</a></li>
                            <li><a href="/kids/girls/Playsuits-&-Jumpsuits?O=OrderByReleaseDateDESC">Playsuits & Jumpsuits</a></li>
                            <li><a href="/kids/girls/shoes?O=OrderByReleaseDateDESC">Shoes</a></li>
                            <li><a href="/kids/girls/shorts?O=OrderByReleaseDateDESC">Shorts</a></li>
                            <li><a href="/kids/girls/skirts?O=OrderByReleaseDateDESC">Skirts</a></li>
                            <li><a href="/kids/girls/swimwear?O=OrderByReleaseDateDESC">Swimwear</a></li>
                            <li><a href="/kids/girls/tops?O=OrderByReleaseDateDESC">Tops</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/kids/boys?O=OrderByReleaseDateDESC">Boys</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/kids/boys/accessories?O=OrderByReleaseDateDESC">Accessories</a></li>
                            <li><a href="/kids/boys/coats?O=OrderByReleaseDateDESC">Coats</a></li>
                            <li><a href="/kids/boys/denim?O=OrderByReleaseDateDESC">Denim</a></li>
                            <li><a href="/kids/boys/jackets?O=OrderByReleaseDateDESC">Jackets</a></li>
                            <li><a href="/kids/boys/pants?O=OrderByReleaseDateDESC">Pants</a></li>
                            <li><a href="/kids/boys/shoes?O=OrderByReleaseDateDESC">Shoes</a></li>
                            <li><a href="/kids/boys/shorts?O=OrderByReleaseDateDESC">Shorts</a></li>
                            <li><a href="/kids/boys/swimwear?O=OrderByReleaseDateDESC">Swimwear</a></li>
                            <li><a href="/kids/boys/tops?O=OrderByReleaseDateDESC">Tops</a></li>
                            <li><a href="/kids/boys/tops?O=OrderByReleaseDateDESC">Tops</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/kids/shoes?O=OrderByReleaseDateDESC">Shoes</a>

                    <div class="terceiroNivel hasBanner">
                        <ul>
                            <li><a href="/kids/shoes/baby-girls?O=OrderByReleaseDateDESC">Baby Girls</a></li>
                            <li><a href="/kids/shoes/baby-boys?O=OrderByReleaseDateDESC">Baby Boys</a></li>
                            <li><a href="/kids/shoes/girls?O=OrderByReleaseDateDESC">Girls</a></li>
                            <li><a href="/kids/shoes/boys?O=OrderByReleaseDateDESC">Boys</a></li>
                        </ul>

                        <div class="bannerSubmenu">
                            <a href="/">
                                <img src="/arquivos/img-Submenu.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </li>
                <li><a href="/busca/?fq=H:145">Sale</a></li>
            </ul>
        </div>
    </div>
    <h3 class="designers hasSubmenu">
        <a class="menu-item-texto" href="/">Designers<i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <div class="submenu" id="designers">
        <div class="submenuWrap">
            <ul></ul>
        </div>
    </div>
</div>