<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="/arquivos/jquery-vtexcart.min.js"></script>
<script src="/arquivos/main-shop.min.js"></script>