<link rel="shortcut icon" href="/arquivos/favicon.png" type="image/x-icon" />

<header class="header">
	<div class="tpl-center">
        <h1 class="logo">
        	<a href="/" title="Shop Couture">
        		<img src="/arquivos/logo-shop-couture.png" alt="Shop Couture"/>
        	</a>
        </h1>

      	<!-- <div class="duvidas"><span>THE FIRST WHOLESALE MARKETPLACE OF BRAZILIAN BRANDS</span></div> -->
      	
      	<!-- <div class="seg">
      		<img src="/arquivos/lets-checkout.png" alt="Site Seguro - Shop Couture" />
      	</div> -->
	</div>
</header>