<header class="pageHeader">
	<div class="wrapper">
		<div class="topFooter">
			<div class="logo">
				<a href="/" title="Nome da Loja" class="logoImg">
					<img src="/arquivos/logo-shop-couture.png" alt="" />
				</a>
			</div><!--/logo-->
			
			<div class="navigation">
				<div class="navOverlay"></div>
				<nav class="pageNav">
					<vtex.cmc:mainMenu />
				</nav>			
			</div>
			
			<div class="customerService">
				<ul>
					<li><a href="/account" title="Account"><i class="fas fa-user"></i> Account</a></li>
					<li class="login">
						<a href="/login"></a>
					</li>
					<li class="carrinho">
						<a href="#" class="openCart">
							<i class="fas fa-shopping-bag"></i>
                            <vtex.cmc:AmountItemsInCart/>
                        </a>
	                </li>
				</ul>
			</div>
			<div class="menu-mobile-toggle">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</div>
	
	<div class="bottomHeader">
		<div class="wrapper">
			<div class="searchBox">
				<vtex.cmc:fullTextSearchBox/>
			</div>
		</div>
	</div>
	
	<h3 class="frase">THE MOST COMPLETE WHOLESALE MARKETPLACE OF FINE BRAZILIAN FASHION</h3>
</header>