<footer class="pageFooter">
	<div class="wrapper">
		<div class="logoCol footerItem">			
			<div class="itemContent">
				<img src="/arquivos/logo-shop-couture.png" alt="" />
			</div>
		</div>
		<div class="customerCol footerItem toggle">
			<h3>CUSTOMER SERVICE <i class="fas fa-plus"></i></h3>
			<div class="itemContent">
				<ul>
					<ul>
						<li class="item contact-us">
                            <a href="/institutional/contact-us">Contact Us</a>
                        </li>
                        <li class="item myorders">
                            <a href="/account/orders">My Orders</a>
                        </li>
                        <li class="item shipping-info">
                            <a href="/institutional/shipping-info">Shipping Info</a>
                        </li>
                        <li class="item return-policy">
                            <a href="/institutional/return-policy">Returns</a>
                        </li>
					</ul>
				</ul>
			</div>
		</div>
		<div class="customerCol footerItem toggle">
			<h3>ABOUT SHOPCOUTURE.CO <i class="fas fa-plus"></i></h3>
			<div class="itemContent">
				<ul>
					<li class="item about-us">
                        <a href="/institutional/about-us">About Us</a>
                    </li>
                    <li class="item terms-e-conditions">
                        <a href="/institutional/terms-e-conditions">Terms &amp; Conditions</a>
                    </li>
                    <li class="item privacy-policy">
                        <a href="/institutional/privacy-policy">Privacy Policy</a>
                    </li>
                    <li class="item blog">
                        <a href="http://blog.shopcouture.co/" target="_blank">Blog</a>
                    </li>
				</ul>
			</div>
		</div>
		<div class="socialCol footerItem">
			<div class="itemContent">
				<ul>
					<li><a href="https://instagram.com/shopcouture.co" target="_blank" title="Instagram"><img src="/arquivos/logo-instagram.png" alt=""/></a></li>
					<li><a href="https://www.facebook.com/shopcouture.co" target="_blank" title="Facebook"><img src="/arquivos/logo-facebook.png" alt=""/></a></li>
				</ul>

				<a href="http://www.ceubranding.com" target="_blank" title="CEU"><img src="/arquivos/logo-ceu.png" alt=""/></a>
				<a href="http://www.vtex.com" target="_blank" title="Vtex"><img src="/arquivos/logo-vtex.png" alt=""/></a>
			</div>
		</div>
	</div>
</footer>