/* ==========================================================================
   imports base
   ========================================================================== */
@import "_buttons";
@import "_forms";
@import "_titles";
@import "_lightbox";

#mainContent, #main{
	padding-top: 170px;
}

.bread-crumb {
    position: relative;
    width: 100%;
    clear: both;
	overflow: hidden;
	padding-bottom: 20px;
	letter-spacing: 0;

	ul{
		li {
		    position: relative;
		    float: left;
		    font-size: 13px;
		    font-weight: 300;
		    color: #be9857;
		    letter-spacing: 0;
		    font-family: inherit;
		    text-transform: uppercase;

		    &:first-child a{
		    	padding-left: 0px;
		    	color: #be9857;
		    	font-weight: 300;
		    	font-size: 0;

		    	&:before{
		    		content: 'HOME';
		    		font-size: 13px;
		    		padding-left: 0;
		    		padding-right: 0;
		    	}
		    }

			a {
				float: left;
			    font-weight: normal;
			    margin-left: 6px;
			    color: #be9857;
			    font-weight: 300;
			    font-family: inherit;

			    &:before {
					content: ">";
					position: relative;
					padding-right: 6px;
					padding-left: 6px;
					color: #be9857;
					font-weight: 300;
				}

				&:first-child{
					margin-left: 0;
				}

				&:hover{
					text-decoration: none;
				}
			}
			&.last{
				a{
					color: #be9857;
					font-weight: 500;
				}
			}
		}
	}
}

#vtexIdContainer{
	z-index: 9999999999999!important;
}

ul{
    &.slick-dots{
        clear: both;
        display: block;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 10px;

        li{
            display: inline-block;
            margin-left: 2.5px;
            margin-right: 2.5px;
            float: inherit;
            width: 12px;
            height: 12px;
            border: 0;

            button{
                font-size: 0px;
                font-family: inherit;
                display: block;
                background-color: black;
                border: 1px solid black;
                cursor: pointer;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                padding: 0;

                &:focus{
                    outline: none;
                }
            }

            &.slick-active{
                button{
                    border: 1px solid #be9857;
                    background-color: #be9857;
                }
            }
        }
    }
}


.sta-cart-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 9999999999;
}
.sta-cart-container {
    position: fixed;
    max-width: 345px;
    min-width: 345px;
    height: 100%;
    top: 0;
    right: -355px;
    background-color: #fff;
    z-index: 9999999999;

    button{
        &.sta-cart-close{
            position: absolute;
            left: 0px;
            top: 0;
            font-size: 22px;
            background-color: transparent;
            border: 0;
            padding: 0;
            cursor: pointer;
            width: 40px;
            height: 70px;
            line-height: 70px;

            &:before{
                content: '✕';
                font-size: 18px;
                color: #434343;
                display: block;
            }

            &:focus{
                outline: none;
            }
        }
    }

    .sta-cart-title {
        position: relative;
        background-color: #fff;

        h2{
            font-family: inherit;
            letter-spacing: normal;
            color: #434343;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            height: 70px;
            line-height: 70px;

            .itens{
                display: inline-block;
                font-size: 12px;
                position: relative;
                top: 0px;
                height: 10px;
                line-height: 12px;
                margin-left: 5px;
            }
        }
    }
    .sta-cart-items {
        padding: 0 20px;
        height: calc(100vh - 250px);
        overflow: auto;
        background-color: #fff;

        ul {
            margin: 0 0 0 0;

            &.ops{
                li{
                    font-family: inherit;
                    letter-spacing: normal;
                    font-size: 13px;
                    color: #000;
                    font-weight: 400;
                }
            }
        }
        li {
            line-height: normal;
        }
        &>ul {
            &>li {
                display: table;
                width: 100%;
                margin-bottom: 15px;
                margin-top: 15px;
                padding-top: 10px;
                padding-bottom: 10px;

                a{
                    &:hover{
                        text-decoration: none;
                    }
                }

                &:last-child{
                }

                &:first-child{
                    padding-top: 0;
                }

                .sta-cart-pdt-image {
                    display: table-cell;
                    vertical-align: top;
                    width: 65px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .sta-cart-pdt-info {
                    position: relative;             
                    display: table-cell;
                    vertical-align: top;
                    padding-left: 15px;

                    h4 {
                        display: block;
                        margin: 0 0 0 0;
                        padding-right: 0px;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        color: #434343;
                        letter-spacing: normal;
                        line-height: normal;
                    }
                    .remove-item {
                        width: 13px;
                        height: 13px;                        
                        text-align: center;
                        margin-top: 8px;
                        margin-left: 10px;
                        padding: 0;
                        border: 0;
                        font-size: 14px;
                        cursor: pointer;
                        float: left;
                        background: transparent;

                        i{
                        	color: #000;

                        	&:before{
                        		color: #000;
                        	}
                        }

                        &:focus{
                            outline: none;
                        }
                    }
                    .sta-cart-pdt-other-info {
                        clear: both;
                        margin-top: 7px;

                        p {
                            margin-top: 0px;
                            font-weight: 500;
                            display: block;
                            clear: both;
                            font-size: 13px;
                            color: #434343;
                            font-family: inherit;
                            letter-spacing: normal;
                        }
                        .listPrice {
                            text-decoration: line-through;
                        }
                        .sta-cart-pdt-qtd {
                            float: left;
                            width: 80px;
                            margin-top: 5px;

                            ul {
                                li {
                                    display: inline-block;
                                    vertical-align: top;

                                    &.minus {
                                        margin-right: -1px;

                                        a{
                                            border-right: 0;
                                            color: #000;
                                        }
                                    }
                                    &.plus {
                                        margin-left: -1px; 
                                        border-left: 0;

                                        a{
                                            color: #000;
                                            border-left: 0;
                                        }
                                    }
                                    a,input {
                                        display: block;
                                        text-align: center;
                                        border: 1px solid #E9E9E9;
                                        width: 26px;
                                        height: 26px;
                                        line-height: 24px;
                                    }
                                    input {
                                        border-right: 0;
                                        border-left: 0;
                                        font-size: rem(10px);
                                    }
                                    a {
                                        i {
                                            font-size: rem(6px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .sta-cart-resume {
        background-color: #fff;
        color: #000;
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;

        .sta-cart-wrap{
            overflow: hidden;
            width: 100%;
            clear: both;

            span{
                display: block;
                text-align: left;
                color: #A7A7A7;
                font-size: 12px;
                font-weight: 300;
                font-family: inherit;
                font-style: normal;
                letter-spacing: normal;

                em{
                    font-style: normal;
                }

                &.sta-cart-itens{
                    margin-bottom: 10px;
                }

                strong{
                    float: right;
                    font-weight: 600;
                    color: #434343!important;
                }

                
            }
            .sta-cart-freight,
            .sta-cart-discount,
            .sta-cart-total {
                display: none !important;
            }
        }

        .payment{
            width: 100%;
            height: 52px;
            line-height: 52px;
            clear: both;
            display: block;
            font-family: inherit;
            font-size: 16px;
            text-align: center;
            color: #fff;
            margin-top: 10px;
            background-color: #be9857;
            cursor: pointer;
            text-transform: uppercase;
            border: 0;

            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;

            -moz-transition: all 0.2s;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;

            &:focus{
                outline: none;
            }

            &:hover{
                background-color: #000;
                text-decoration: none;
            }
        }

        .cart {
            width: 100%;
            height: 52px;
            line-height: 52px;
            clear: both;
            display: block;
            font-family: inherit;
            font-size: 16px;
            text-align: center;
            color: #000;
            margin-top: 10px;
            background-color: #white;
            border: 1px solid #000;
            cursor: pointer;
            text-transform: uppercase;

            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;

            -moz-transition: all 0.2s;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;

            &:focus{
                outline: none;
            }

            &:hover{
                color: #fff;
                background-color: #000;
                text-decoration: none;
            }
        }
    }
}
.sta-cart-comfirm {
    display: none;
    width: 600px;
    height: 270px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 30px;
    background: #fff;
    text-align: center;
    z-index: 9999999999;

    i {
        font-size: rem(40px);
        text-align: center;
    }
    p {
        display: block;
        text-transform: uppercase;
        margin: 30px 0;
        font-size: rem(26px);
        font-weight: 300;
        line-height: 1;
    }
    .row {
        display: block;
        width: 100%;
        
        a {    
            text-transform: uppercase;            
            
            &.sta-finishShop {
                font-size: rem(12px);
            }
        }
    }
}