/*titles*/

//titulo principal das paginas
@mixin pageTitle (){
}

//produto principal
@mixin productTitle(){
}

//vitrines, blocos com produtos
@mixin shelfTitle(){
}

//blocos de sessoes, ex: minha conta, meus endereços
@mixin sectionTitle(){
}

//subtitulos texto
@mixin subTitle(){
}