/*fonts*/
@font-face {
    font-family: 'gotham_book';
    src: url('../arquivos/gotham-book-webfont.woff2.css') format('woff2'),
         url('../arquivos/gotham-book-webfont.woff.css') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_book';
    src: url('../arquivos/gotham-thin-webfont.woff2.css') format('woff2'),
         url('../arquivos/gotham-thin-webfont.woff.css') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_book';
    src: url('../arquivos/gotham-medium-webfont.woff2.css') format('woff2'),
         url('../arquivos/gotham-medium-webfont.woff.css') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_book';
    src: url('../arquivos/gotham-bold-webfont.woff2.css') format('woff2'),
         url('../arquivos/gotham-bold-webfont.woff.css') format('woff');
    font-weight: 700;
    font-style: normal;

}

/* ============================================
   ----------------- Colors ------------------- 
   ============================================ */
$color-046a6f: #046a6f;
$color-00676d: #00676d;
   
$black: #000000;
$black2: #404040;
$black3: #8a8a8a;

$white: #FFFFFF;
$white2: #f8f8f8;
$white3: #f2f2f2;
$white4: #f6f6f6;

/* TONS DE CINZA */
$silver-one: #262626;
$silver-two: #7e7e7e;
$silver-three: #9b9b9c;
$silver-four: #f7f7f7;
$silver-five: #e6e5e3;
$silver-six: #a5a5a5;
$silver-nine: #666666;
$silver-ten: #777777;
$silver-eleven: #646464;

$color-313131: #313131;

$color-7f7f7f: #7f7f7f;

$color-e9eae8: #e9eae8;

$color-7d7d7d: #7d7d7d;

$color-999999: #999999;

$color-f9f9f9: #f9f9f9;

$color-989493: #989493;

$color-959595: #959595;

$color-cecece: #cecece;

$color-333333: #333333;

$color-dbdbdb: #dbdbdb;

$color-a1a1a1: #a1a1a1;

$color-dourado: #cb9f00;

$color-b6b6b6: #b6b6b6;

$color-444444: #444444;

$color-858585: #858585;

$color-232323: #232323;

$color-979797: #979797;

$color-686868: #686868;

$color-bfbfbf: #bfbfbf;

$color-222222: #222222;

$color-424242: #424242;

$color-434343: #434343;

$color-d8e9e3: #d8e9e3;

$color-dedede: #dedede;

$color-flagOff: #eb3d15;

$color-flagNew: #5bc0de;

$color-e1f2fe: #e1f2fe;

$color-porcent: #ad1d21;

$color-383838: #383838;

$color-2b2e2e: #2b2e2e;

$color-ebebeb: #ebebeb;

$color-d9d9d9: #d9d9d9;

$color-0056c1: #0056c1;

$color-d1d3d4: #d1d3d4;

$color-dfdfdf: #dfdfdf;

$color-88817f: #88817f;

$color-494d4d: #494d4d;

$color-898989: #898989;

$color-e1e1e1: #e1e1e1;

$color-b1233b: #b1233b;

$color-b8b3b2: #b8b3b2;

$color-cf3a53: #cf3a53;

$color-eb3d15: #eb3d15;

$color-1c2020: #1c2020;

$color-1d1d1d: #1d1d1d;

$color-746b6b: #746b6b;

$hover-botao: #ff484b;

$color-c9c9c9: #c9c9c9;

$color-f72659: #f72659;

$borda-padrao: #9a9a9a;

$color-8d8d8d: #8d8d8d;

$color-33c78a: #33c78a;

$bg-slidehome: #e6e7eb;

$color-e5e5e5: #e5e5e5;

$color-c3c3c3: #c3c3c3;

$bg-botao: #00a5b3;
$bg-botaohover: #01838e;

/* CORES PADROES */
$first-color: #e61446;
$second-color: #c10b37;

$hover-menu: #f7ff0f;

$rosa-one: #d7007e;
$rosa-two: #a50061;
$dotted: #bcbcbc;

$copyright: #757575;
$cinza-cadastrese: #5a5a5a;
$texto-seo: #b1b1b1;

$cinzad1-color: #d1d1d1;

$red: #b70000;

$bt-color: #84ac00;
$bt-color-hover: #5f7c00;

$tituloprateleira-color: #373737;

$border-e6e6e6: #e6e6e6;
$border-dddddd: #dddddd;
$border-d3d3d3: #d3d3d3;
$border-e4e4e4: #e4e4e4;
$boder-bebebe: #bebebe;

$border-e0dddd: #e0dddd;

$color-a6a6a6: #a6a6a6;

$bg-e6e5e5: #e6e5e5;

$font-a4a4a4: #a4a4a4;
$font-838383: #838383;

$acumule-color: #ce6b01;

$flag-color: #caa9d8;

$bt-61992b: #61992b;

$bt-468706: #468706;

/* Text color */
$text-color: #7e8081;
$text-color2: #ed1c24;
$textos-titulos-tds-color: #9a9a9a;

/* Links */
$color-link: $text-color2;
$color-link-hover: $text-color2;

/* Input Focus */
$input-focus-color1: $black;
$input-focus-color2: #DFF3FD;

/* remove cart color */
$remove-cart: #da1e30;

/* Borda */
$border-color: #eee;

/* Footer */
$detail-footer: #af141b;
/* Borda no copyright */
$detail-footer-2: #f1f1f1;
$color-footer: $white;
$text-color-footer: #666666;
$text-color-tel: #af141b;

/* Cores do modal */
$modal-color: #af141b;
$modal-font-color: $white;

/* Header */
$header-background: #262626;
$header-text-color: $white;

/* Footer */
$footer-background: #262626;
$footer-text-color: $white;

/* Titulos */
$title-color: #af141b;
$subtitle-color: #ed1c24;
$paragraf-color: #999999;
$titulos-tds-color: #f3f2f0;

$color-2eb271: #2eb271;
$color-20965c: #20965c;

/* Text color */
$text-color: #7e8081;
$text-color2: #ed1c24;
$textos-titulos-tds-color: #9a9a9a;

div:after, ol:after, form:after, ul:after, dl:after, section:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

body {
    padding-top: 0;
    font-family: 'gotham_book';

    &:before{
        display: none;
    }

    .step, .cart, .totalizers{
        border-radius: 0;
    }

    &.orders{
        .wrapper{
            width: inherit;

            h1.f4.gray.tc.ttn{
                text-align: center;
                font-size: 18px;
                padding: 0;
                margin: 0;
            }
        }
    }

    &.body-checkout-confirmation{
        table.cconf-product-table{
            tr{
                &.cconf-product{
                    display: table-row;
                    background-color: transparent;
                    color: $black;

                    a{
                        color: $black;
                    }
                }
            }
        }
    }
    

    &.body-cart{
        .container{
            width: 1170px;
        }

        h1{
            &#cart-title{
                font-size: 0;

                &:before{
                    content: 'Shopping Bag';
                    font-size: 28px;
                    display: block;
                    font-weight: 800;
                    text-transform: uppercase;
                }

                a{
                    float: right;
                    background-color: $color-2eb271;
                    border: 1px solid $color-2eb271;
                    border-radius: 0;
                    font-size: 0px;
                    font-weight: 800;
                    text-transform: uppercase;
                    padding: 9px 60px;
                    background-image: none!important;
                    color: $white;
                    font-family: inherit;
                    text-shadow: none!important;
                    margin-top: -2px;

                    &:before{
                        position: relative;
                        top: 3px;
                        content: 'FINALIZAR COMPRA';
                        font-size: 14px;
                    }

                    &:hover{
                        background-color: $color-20965c;
                    }
                }
                @media screen and (max-width: 540px) {
                    a{
                        display: block!important;
                        float: inherit!important;
                        margin-top: 10px!important;
                    }
                }
            }
        }
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
        border-radius: 0!important;
        border-color: $border-d3d3d3!important;
    }

    .cart-template{
        .cart-links-bottom{
            width: 100%;

            @media screen and (max-width: 640px) {
                margin-bottom: 0;
            }

            span{
                &.link-choose-more-products-wrapper{
                    float: left;

                    a{
                        background-color: $white;
                        border: 1px solid $black;
                        border-radius: 0;
                        font-size: 14px;
                        font-weight: 800;
                        display: block;
                        text-transform: uppercase;
                        padding: 11px 60px;
                        margin-right: 0;
                        background-image: none!important;
                        color: $black;
                        font-family: inherit;
                        text-shadow: none!important;

                        &:hover{
                            background-color: $black;
                            color: $white;
                            text-decoration: none;
                        }
                    }
                }

                &.btn-place-order-wrapper{
                    float: right;

                    a{
                        background-color: $color-2eb271;
                        border: 1px solid $color-2eb271;
                        border-radius: 0;
                        font-size: 14px;
                        font-weight: 800;
                        text-transform: uppercase;
                        padding: 9px 60px;
                        background-image: none!important;
                        color: $white;
                        font-family: inherit;
                        text-shadow: none!important;
                        &:hover{
                            background-color: $color-20965c;
                        }
                    }
                }
            }

            @media screen and (max-width: 640px) {
                span{
                    width: 49.5%;

                    a{
                        width: 100%!important;
                        padding-left: 0!important;
                        padding-right: 0!important;
                        text-align: center!important;
                    }
                }
            }

            @media screen and (max-width: 490px) {
                span{
                    width: calc(100% - 2px);
                    clear: both;
                    float: inherit;
                }
            }
        }
    }
}

.wrapper {
    width: 970px;
    margin: 0 auto;
}

.clearfix.empty-cart-links{
    text-align: center;
}

.clearfix.empty-cart-links a.btn {
    background: $white;
    color: $black!important;
    border: 1px solid $black!important;
    border-radius: 0;
    border: none;
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 20px;
}
.clearfix.empty-cart-links a.btn:hover{
    background-color: $black;
    color: $white!important;
}

.container {
    h1{
        font-family: inherit;
        font-size: 28px;
        text-align: left;
        font-weight: 400;
        text-transform: uppercase;
        color: $black;
        margin: 20px 0;
    }
    @media screen and (max-width: 860px) {
        h1{
            font-size: 22px!important;
        }
    }

    .cart-template-holder h2.empty-cart-title {
        font-weight: normal;
        padding: 0;
        margin: 0 0 30px;
        color: $black;
        text-align: center;
        font-family: inherit;
    }

    .empty-cart-message{
        letter-spacing: 0.3px;
        text-align: center;
        font-family: inherit;
    }
}

.clearfix span.btn-place-order-wrapper a {
}

.clearfix span.link-choose-more-products-wrapper a {
    color: $black;
    text-transform: uppercase;
    font-size: 12px;
}
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body {
    width: 270px;
    float: right;
    border: 1px solid transparent;

    @media screen and (max-width: 990px) {
        width: 100%!important;
    }
}
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner table{
    font-size: 12px;

    tr{
        border-bottom: 1px solid transparent;
    }

    tfoot{
        tr{
            background-color: transparent;

            td{
                font-size: 16px;
                font-weight: 800;
                font-family: inherit;
                
                &.monetary{
                    text-align: right;
                    font-size: 12px;
                }
            }
        }
    }
}
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner table tr td {
    text-align: left;
    width: 50%;
    font-family: inherit;
    color: $black;

    &.monetary,
    &.form-postal-code{
        text-align: right;
    }
    &.monetary{
        .shipping-form-inline{
            min-width: max-content;
            float: right;
        }
    }
}
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner table tr td a {
    color: $black;
}
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner table tr td.empty,
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner table tr td.space,
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner tbody tr td.empty,
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner tbody tr td.space,
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner tfoot tr td.empty,
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner tfoot tr td.space {
    display: none;
}

.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner tfoot tr  {
    background: #f3f3f3;
}
.summary-template-holder .row-fluid .cart-totalizers .accordion-group .accordion-body .accordion-inner tfoot tr td {
    text-transform: uppercase;
    font-size: 13px;
}

.accordion-group {
}

fieldset.coupon-fieldset {}

fieldset.coupon-fieldset p.coupon-data.pull-right a {
    display: block;
    color: $black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;

    span{
        color: $color-7f7f7f;
        font-family: inherit;
    }
}

fieldset.coupon-fieldset p.coupon-data.pull-right a:hover{
    text-decoration: underline;
}

.cart-template {}

.cart-template div#cartLoadedDiv {}

.cart-template div#cartLoadedDiv .cart {
    padding: 0;
    border-radius: 0;
    border: 1px solid transparent;
}

.cart-template div#cartLoadedDiv .cart table.table thead {
    background: transparent;
    border-bottom: 1px solid $black;
}

.cart-template div#cartLoadedDiv .cart table.table thead tr th {
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 800;
}

@media screen and (max-width: 990px) {
    .coupon-column .frete{
        width: 100%!important;
    }
}

.cart-template div#cartLoadedDiv .cart table.table tbody tr{
    border-bottom: 1px solid $black;
    border-top: 0!important;
    padding-top: 0!important;

    td{
        padding-top: 20px!important;
        padding-bottom: 20px!important;

        &.product-image{
            a{
                display: block;

                img{
                    width: 85px;
                    height: 85px;
                    max-width: 85px;
                }
                @media screen and (max-width: 490px) {
                    img{
                        width: 45px!important;
                        height: 45px!important;
                        max-width: 45px!important;
                    }
                }
            }
        }
    }
}

.cart-template div#cartLoadedDiv .cart table.table tbody tr td.product-name{
    a{
        color: $black;
        font-weight: 500;
        font-size: 13px;
        font-family: inherit;

        @media screen and (max-width: 490px) {
            font-size: 11px;
        }
    }
    .brand{
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 12px;
    }
    small{
        &.seller{
            display: none;
        }
    }
}

.cart-template div#cartLoadedDiv .cart table.table tbody tr td {
    padding: 10px;
    font-size: 12px;

    &.quantity{
        input{
            border-radius: 0;
            border-color: $border-d3d3d3!important;
        }
        i:before{
            color: $black;
        }
    }
    &.item-remove{
        .icon-remove:before{
            color: $black;
        }
    }
} 

.accordion-heading .accordion-toggle{
    text-transform: uppercase;
}

form.form-step.box-edit p.submit.btn-submit-wrapper button#go-to-shipping {
    background-color: $white;
    border: 1px solid $black!important;
    border-radius: 0;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px 60px;
    background-image: none!important;
    color: $black;
    text-shadow: none!important;

    &:hover{
        background-color: $black;
        color: $white;
    }
}

.accordion-body.collapse.in .accordion-inner .box-step {
    font-size: 12px;
}

.accordion-body.collapse.in .accordion-inner .box-step a {
    color: $black;
}

.accordion-body.collapse.in .accordion-inner .box-step label {
    color: $black;
}

.accordion-body.collapse.in .accordion-inner .box-step input {
    border-radius: 2px;
}

.container.container-main.container-order-form h1 {    
}

@import "_header-checkout.scss";
@import "_footer-checkout.scss";

@media (max-width: 1200px){
    .container{
        width: calc(100% - 20px)!important;
    }
}

@media screen and (max-width: 762px) {
    body {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .wrapper {
        width: 100%;
    }
    header.pageHeader .secureSeal {
        width: 220px;
        div {
            width: 100px;
            background-size: 220px;
            height: 40px;
        }
    }
    header.pageHeader {
        .wrapper .logo {
            margin: 20px 0px 20px 16px;
        }
        .secureSeal {
            margin-top: 25px;
        }
    }
    footer.pageFooter .column {
        margin-bottom: 20px;
        margin-left: 20px;
        width: 100%;
        &.payment {
            width: 100%;
            ul {
                width: 100%;
                li {
                    width: 60px;
                }
            }
        }
    }
    address.address {
        padding: 10px 0px 10px 20px;
        width: 80%;
    }

    .cart-template div#cartLoadedDiv .cart table.table tbody tr td {
        padding: 10px;
    }

    .coupon.summary-coupon.pull-right {
        float: right;
        width: 100%;
    }

    .full-cart .totalizers {
        padding-right: 0 !important;
    }
}

body.orders{
    ul.nav.nav-pills{
        display: none;
    }
}