header{
	&.header{
		padding-top: 8px;
		padding-bottom: 8px;

		.tpl-center{
			width: 1180px;
			margin: 0 auto;
			text-align: center;
			position: relative!important;

			h1{
				&.logo{
					margin: 0 auto;
					line-height: inherit!important;

					a{
						display: block;
					}
				}
			}

			.duvidas{
				font-family: inherit;
				position: absolute;
				left: 0;
				text-align: center;
				width: calc(100% - 400px)!important;
				height: 67px;
				display: table;
				margin-left: 200px!important;

				span{
					display: inline-block;
					font-family: 'gotham_book';
					color: $white;
					height: 16px;
					position: relative;
					top: 0px;
					font-size: 12px;
					display: table-cell;
					vertical-align: middle;
				}
			}

			.seg{
				float: right;
				margin-top: 20px;

				img{
					display: block;
				}
			}

			@media screen and (max-width: 860px) {
				width: calc(100% - 20px);

				.duvidas{
				    position: inherit;
				    float: left;
				    width: max-content!important;
				    margin-left: 10px!important;
				    margin-top: 11px;

				    span{
				    	font-size: 11px;
				    }
				}

				.seg{
					display: none;
				}
			}

			@media screen and (max-width: 540px) {
				h1{
					&.logo{
						float: inherit;
						margin: 0 auto!important;
						width: 160px;
						height: auto;

						a{
							display: block;

							img{
								width: 100%;
								height: auto;
							}
						}
					}
				}
				.duvidas{
					text-align: center!important;
					margin-left: 0;
					margin-top: 10px;
					width: 100%!important;
					clear: both;
					float: inherit;
				}
			}
		}
	}
}