/* ==========================================================================
   Footer
   ========================================================================== */
.pageFooter{
    padding: 60px 0;

    ul {
        margin: 0;
        padding: 0;
    }

    .logoCol {
        @include span-columns(2);
        text-align: center;
        img {
            width: 100%;
            max-width: 130px;
            height: auto;
            margin: auto
        }
    }

    .customerCol {
        @include span-columns(2.5);

        h3 {
            display: block;
            margin-bottom: 25px;
            text-transform: uppercase;
            i {
                display: none;
            }
        }

        
        li {
            display: block;
            line-height: 1.5;

            a {
                color: #000;
            }
        }
    }

    .socialCol {
        @include span-columns(5);
        text-align: right;
        ul {
            margin-bottom: 10px;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        a {
            display: block;
            margin-bottom: 10px;
        }
    }

    @include media($mobile) {
        .logoCol {display: none;}

        .customerCol {
            width: 100%;
            float: none;
            margin-left: 0;
            margin-right: 0;

            h3 {
                position: relative;
                display: block;
                margin-bottom: 0;
                padding: 15px 0;
                border-width: 0 0px;
                cursor: pointer;
                
                i {
                    display: block;
                    position: absolute;
                    top: 15px;
                    right: 0px;
                }

                &.active {
                    i {
                        @include transform(rotate(45deg));
                        
                    }
                }
            }
            &.toggle {
                .itemContent {
                    display: none;
                    height: 0;
                    &.active {
                        display: none;
                        height: auto;
                    }
                }
            }
        }
        .socialCol {
            width: 100%;
            float: none;
            margin-top: 25px;
            margin-left: 0;
            margin-right: 0;
            text-align: center;
        }
    }
}

body.notMobile {
	.mainFooter{
		.itemContent {
			display: block !important;
			ul {
				margin: 0 !important;
			}
		}
	}
}