/* ==========================================================================
   Header
   ========================================================================== */
@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}
.pageHeader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999999999;

    .menu-mobile-toggle {
        display: none;
        text-align: right;
        font-size: rem(40px);
        cursor: pointer;
        @include media($tablet) {
            @include span-columns(2);
            float: none;
            display: inline-block;
            vertical-align: middle;
        }
        @include media($mobile) {

        }
    }
    .logo {
        @include span-columns(1.5);
        float: none;
        display: inline-block;
        vertical-align: bottom;
        a {
            display: block;
            line-height: 0;
            text-align: center;
            padding: 10px 0;
        }
        img {
            width: 100%;
            max-width: 90px;
            height: auto;
            margin: auto
        }

        @include media($tablet) {
            @include span-columns(6);
            float: none;
            display: inline-block;
            vertical-align: middle;
            a {
                text-align: left;
            }
        }
    }

    .customerService {
        @include span-columns(2.5);     
        @include omega();   
        float: none;
        display: inline-block;
        vertical-align: bottom;

        ul {
            text-align: right;
            padding: 10px 0;

            li {
                display: inline-block;
                vertical-align: middle;
                &:not(:last-child) {
                    margin-right: 10px;
                }

                a {
                    color: $color1;
                    font-size: rem(14px);
                    text-transform: uppercase;
                }

                &.carrinho{
                    position: relative;
                    height: 14px;
                    margin-left: 10px;

                    a{
                        &.openCart{
                            height: 14px;
                            line-height: 14px;
                            display: block;

                            i{
                                float: left;
                                height: 14px;
                                line-height: 14px;
                            }

                            .portal-totalizers-ref{
                                float: left;
                                padding: 0;
                                margin: 0;
                                margin-left: 5px;
                                height: 14px;
                                line-height: 14px;

                                .cart-info{
                                    padding: 0;
                                    margin: 0;
                                    line-height: 14px;
                                    height: 14px;
                                }

                                span.title,
                                li.amount-items,
                                li.amount-kits,
                                li.total-cart,
                                .portal-minicart-ref,
                                .vtexsc-cart {
                                    display: none!important;
                                    opacity: 0!important;
                                }
                                li.amount-products{
                                    margin: 0;
                                    padding: 0;
                                    height: 14px;
                                    line-height: 14px;

                                    strong{
                                        display: none;
                                    }

                                    em{
                                        color: #000;
                                        font-size: 14px;
                                        font-family: inherit;
                                        padding: 0;
                                        margin: 0;
                                        height: 14px;
                                        line-height: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @include media($tablet) {
            display: none;
        }
    }

    @media screen and (max-width: 1024px) {
        .customerService{
            display: block;
            position: absolute;
            top: 37px;
            right: 70px;
            height: 40px;
            width: 40px;

            ul{
                padding: 0;

                li{
                    display: none;

                    &.carrinho{
                        margin-left: 0;
                        display: block;

                        a.openCart{
                            padding-top: 10px;

                            i{
                                font-size: 22px;
                            }

                            .portal-totalizers-ref{
                                display: block;

                                li.amount-products{
                                    display: block;
                                }
                            }   
                        }
                    }
                }
            }
        }
    }

    .bottomHeader {
        background: #000;
        /*padding: 6px 0px;*/
        padding: 2px 0;

        .searchBox {
            position: relative;
            float: right;
            background: #fff;
            height: 27px;
            width: 190px;
            legend, label, select{display: none}
            fieldset {
                position: relative;
                width: 100%;
                &:before {
                    content: "\f002";
                    font-family: "Font Awesome\ 5 Free";
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    font-weight: 900;

                    position: absolute;
                    top: 0px;
                    right: 0;
                    color: $color2;
                    font-size: rem(12px);
                    padding: 9px 5px;
                }
                .fulltext-search-box {
                    width: 100%;
                    height: 27px;
                    border: 0;
                    padding: 0 30px 0 10px;
                    background: transparent;
                    color: $color2;
                    font-family: $primaryFont;
                    font-size: rem(12px);
                    font-weight: 500;
                    @include appearance(none);
                    @include box-shadow(none);
                    @include border-radius(0);
                }
                .btn-buscar {
                    position: absolute;
                    font-size: 0;
                    width: 26px;
                    height: 27px;
                    top: 0;
                    right: 0;
                    background: transparent;
                    border:0;
                    @include appearance(none);
                    cursor: pointer;
                }
            }
        }

        @include media($mobile) {
            .searchBox {
                width: 100%;
                height: 24px;

                fieldset {
                    &:before {
                        font-size: 18px;
                        padding-top: 4px;
                    }
                    .fulltext-search-box {
                        height: 24px;
                    }
                    .btn-buscar {
                        height: 24px;
                    }
                }
            }
        }
    }

    h3.frase{
        font-family: inherit;
        text-align: center;
        display: block;
        color: $black;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: #eee;

        .mainHeader{
            padding: 0!important;   
        }
    }

    @include media($mobile) {
        h3.frase{
            font-size: 12px;
        }
    }
}


.navigation {
    @include span-columns(8);        
    float: none;
    display: inline-block;
    vertical-align: bottom;

    .navOverlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        z-index: 10;
        top: 100px;
        left: 0;
        @include media($tablet) {
            top: 0;
        }
    }

    .navHead {
        display: none;
        padding: 5px 15px;
        font-size: 30px;
        color: $color3;
        text-align: right;
    }

    .menu-departamento {
        display: block;
        width: 100%;
        position: relative;
        &:after {display: none;}

        &>h3 {
            display: none;
            vertical-align: middle;
            position: relative;
            text-align: center;
            font-size: rem(16px);
            text-transform: uppercase;           

            a {
                position: relative;
                display: table;
                margin: auto;
                padding: 10px 10px;
                color: $color1;
                i {display: none;}
            }

            &.active {
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    // top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    border-style: solid;
                    border-width: 0 8px 6px 8px;
                    border-color: transparent transparent #000 transparent;
                }
            }
        }
        .submenu {
            display: none;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            padding: 0;
            z-index: 10;
            background: #000;

            ul {
                display: block;
                width: 100%;
                height: 31px;
                margin: 0;
                padding: 0;
            }

            li {
                height: 31px;
                display: inline-block;

                &:not(:last-child) {
                    /*margin-right: 15px;*/
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                }

                &.designes{
                    @include media($tablet) {
                        display: none;
                    }
                    
                    .terceiroNivel{
                        ul{
                            display: flex;

                            li{
                                padding-left: 0px;
                                padding-right: 20px;

                                &:last-child{
                                    padding-left: 0px;
                                    padding-right: 20px;
                                }
                            }

                            .list-3{
                                li{
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }

                &:hover{
                    .terceiroNivel{
                        display: block;
                            -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                                animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                    }

                    a{
                        color: #fff;
                    }
                }

                .terceiroNivel{
                    width: 100%;
                    min-height: 225px;
                    overflow: hidden;
                    background-color: #fff;
                    padding: 10px;
                    display: none;
                    position: absolute;
                    left: 0;

                    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
                    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);

                    ul{
                        float: left;
                        height: 100%;
                        width: max-content; 

                        li{
                            display: block;
                            clear: both;
                            text-transform: initial;
                            line-height: 22px;
                            height: inherit;

                            a{
                                display: block;
                                color: #000!important;
                                font-weight: 400;
                                font-size: 12px;
                                font-family: inherit;
                                text-transform: initial;
                                height: inherit;
                                line-height: inherit;

                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .bannerSubmenu{
                        float: right;
                        width: max-content;

                        a{
                            display: block;

                            img{
                                display: block;
                            }
                        }
                    }
                }

                a {
                    height: 31px;
                    line-height: 31px;
                    color: $color3;
                    font-size: 11px;
                    font-weight: 600;
                    text-transform: uppercase;
                    @include transition(all .3s ease);

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

body.isMobile {
    .navigation {
        float: left;
    }
    .pageNav {
        @include media($tablet) {
            position: fixed;
            background: #000;
            width: 310px;
            top: 0;
            right: -320px;
            height: 100vh;
            overflow-y: auto;
            margin: 0;
            z-index: 10;
            @include transition(all .5s ease-in-out);
            @include box-shadow(0 0 15px 5px rgba(0,0,0,0.15));

            .menu-departamento {
                padding-bottom: 70px;
                &>h3 {
                    position: relative;
                    display: block !important;
                    width: 100%;
                    text-align: left;
                    border-bottom: 1px dotted $color3;

                    &.designers{
                        display: block!important;
                    }

                    a {
                        display: block;                        
                        padding: 15px 35px 15px 15px;
                        text-align: left;
                        color: #fff;
                    }
                    .ico-expand {
                        display: block;
                        position: absolute;
                        top: 12px;
                        right: 15px;
                        color: $color3;
                        font-size: 20px;
                        @include transition(all .1s ease-in-out);                        
                        @include transform(rotate(90deg));
                        
                        &.active {
                            @include transform(rotate(-90deg));
                        }
                    }
                }
            }

            &.open {
                right: 0;
            }

            .navHead {
                display: block;
            }

            .submenu {
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                min-height: 0;
                border: 0;
                border-bottom: 1px solid $borderColor;
                background: #fff;
                padding: 15px;
                z-index: 10;
                @include box-shadow(none);

                .submenuWrap {
                    padding: 0;
                }
                ul {
                    display: block;                                        
                    width: 100%;
                    height: inherit;

                    li {
                        display: block;
                        line-height: 1.5;   

                        &:hover{
                            color: #be9857;

                            a{
                                color: #be9857;
                            }
                        }

                        .terceiroNivel{
                            display: none!important;
                        }

                        &:last-child{
                            padding-left: 7.5px;
                        }

                        a {
                            color: #000;

                            &:hover {
                                color: $color3;
                            }
                        }
                    }
                }
            }
        }

        @include media($mobile) {
            width: 90%;
            right: -110%;
            &.open {
                right: 0;
            }
        }
    }   
}