/*
=============================================
-------------- LAYOUT: SHELF ----------------
=============================================
*/
body.noPrice{
    .prateleira{
        ul{
            li{
                .shelf-wrapper{
                    .photo{
                        a.bt{
                            display: none!important;
                        }
                    }
                    .wrapperConteudo{
                        .boxWrapPreceComprar{
                            a.pag401{
                                display: block;
                                background-color: $black;
                                color: #be9857;
                                font-size: 11px;
                                text-transform: uppercase;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                padding-left: 10px;
                                padding-right: 10px;
                                width: max-content;
                                margin: 10px auto 0;
                                border: 1px solid #be9857;

                                &:hover{
                                    color: #ffffff!important;
                                    background-color: #be9857!important;
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
}

body.yesPrice{
    .prateleira{
        ul{
            li{
                a.pag401{
                    display: none!important;
                } 
                .shelf-wrapper{
                    .wrapperConteudo{
                        .boxWrapPreceComprar{
                            a.pag401{
                                display: none;
                            }
                            .wrapperPreco{
                                .preco{
                                    display: block;
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
}

.prateleira{
    width: 100%;
    display: block;

    ul{
        display: flex;
        flex-wrap: wrap;

        li{
            width: 30%;
            float: left;
            margin-left: 1.5%;
            margin-right: 1.5%;
            margin-bottom: 40px;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            .flags{
                display: none;
            }

            .shelf-wrapper{
                height: auto;
                width: 100%;
                position: relative;

                .photo{
                    width: 100%;
                    min-height: 60px;
                    margin: 0 auto;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    text-align: center;
                    position: relative;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: auto;
                        -moz-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        position: relative;
                        /*z-index: 999;*/
                    }

                    img:nth-child(2){
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        -moz-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                    }

                    a.shop{
                        position: absolute;
                        bottom: 10px;
                        left: 10%;
                        width: 80%;
                        display: block;
                        background-color: $black;
                        padding-top: 6px;
                        padding-bottom: 10px;
                        display: none;

                        span{
                            color: #be9857;
                            font-family: inherit;
                            font-size: 14px;
                            font-weight: 800;
                            letter-spacing: 2px;
                            height: 20px;
                            line-height: 20px;
                            text-transform: uppercase;
                            display: inline-block;
                            margin-left: 5px;
                        }

                        &:before{
                            content: '';
                            width: 20px;
                            height: 20px;
                            background-image: url('/arquivos/icon-shop.png');
                            background-repeat: no-repeat;
                            display: inline-block;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
                .wrapperConteudo{
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    margin-top: 10px;
                    position: relative;
                    overflow: hidden;
                    font-family: inherit;

                    a.brand{
                        color: $black;
                        font-size: 14px;
                        font-family: inherit;
                        font-weight: 800;
                        letter-spacing: 2px;
                        clear: both;
                        display: block;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .product-name{
                        margin-top: 10px;
                        overflow: hidden;
                        text-align: center;
                        font-family: inherit;
                        color: #555555;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 16px;
                        clear: both;
                    }

                    .brand-name{
                        font-style: normal;
                        font-size: 12px;
                        font-weight: 300;
                        color: #ccc;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .boxWrapPreceComprar{
                        clear: both;
                        width: 100%;
                        text-align: center;
                        overflow: hidden;

                        .skus{
                            text-align: center;
                            border-top: 1px solid #dcdcdc;
                            margin-top: 10px;
                            display: none;

                            strong{
                                text-align: center;
                                font-family: inherit;
                                display: block;
                                color: #555555;
                                font-weight: 200;
                                font-size: 11px;
                                text-transform: uppercase;
                                padding-top: 15px;
                            }

                            &:after{
                                display: none!important;
                            }

                            label.color{
                                width: 18px;
                                height: 18px;
                                border: 1px solid #dcdcdc;
                                padding: 0;
                                display: inline-block;
                                margin-left: 3px;
                                margin-right: 3px;
                                font-size: 0;

                                &.Black{
                                    background-color: #000000;
                                }
                                &.Blue{
                                    background-color: #55a0f9;
                                }
                                &.Brown{
                                    background-color: #c88a54;
                                }
                                &.Green{
                                    background-color: #6bc887;
                                }
                                &.Gray{
                                    background-color: #bbbbbb;
                                }
                                &.Print,
                                &.Multicolor{
                                    background-image: url('/arquivos/estampa-print.jpg?v=2');
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                                &.Nude{
                                    background-color: #f8daae;
                                }
                                &.Pink{
                                    background-color: #f07ed3;
                                }
                                &.Purple{
                                    background-color: #be88ee;
                                }
                                &.Red{
                                    background-color: #f56576;
                                }
                                &.White{
                                    background-color: #ffffff;
                                }
                                &.Yellow{
                                    background-color: #fcea72;
                                }
                                &.Orange{
                                    background-color: #ffc46f;
                                }
                            }
                        }

                        .wrapperPreco{
                            text-align: center;
                            
                            .preco{
                                text-align: center;
                                display: none;

                                .valor-de{
                                    font-size: 12px;
                                    font-weight: 100;
                                    color: #ccc;
                                    display: block;
                                    margin-bottom: 2px;
                                    margin-top: 2px;
                                    clear: both;
                                    text-decoration: line-through;
                                    
                                    strong{
                                        font-weight: 100;
                                        display: block;
                                        line-height: inherit;
                                    }
                                }
                                .valor-por{
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #999999;
                                    display: block;
                                    clear: both;
                                    margin-top: 10px;

                                    strong{
                                        font-weight: 500;
                                        display: block;
                                        line-height: inherit;
                                    }
                                }
                            }
                        }

                        span.valor-dividido{
                            display: none;
                        }

                        a.pag401{
                            display: none;
                        }
                    }

                    .esgotado{
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #cd484d;
                        margin-top: 15px;
                        text-align: center;
                    }
                }
            }

            a:hover{
                text-decoration: none;
            }
        }
        li:hover{
            .shelf-wrapper{
                .photo{

                    img{
                        -moz-transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }

                    img:nth-child(2){
                        opacity: 1;
                    }

                    a.shop{
                        display: block;
                    }
                }

                .wrapperConteudo{
                    .boxWrapPreceComprar{
                        border-color: $black;
                    }
                }
            }
        }
    }

    .slick-slider{
        display: block;
        flex-wrap: inherit;
    }
}