/* ==========================================================================
   Slider
   ========================================================================== */
   .fullGallery {
    background:#fff url('/arquivos/shop-loading.gif') no-repeat center center;
    overflow: hidden;
    height: 200px;
    @include transition(height 0.3s ease);

    .box-banner {
        opacity: 0;
        position: absolute;
    }
    &.slick-initialized {
        background: #fff;
        overflow: inherit;
        height: auto;

        .box-banner {
            opacity: 1;
            position: relative;
            transition: opacity 0.2s ease-in;
        }

        img {
            width: 100%;
            height: auto
        }
    } 
}
.carouselGallery{}
.verticalSlider{}