/* ==========================================================================
   Catalog
   ========================================================================== */

body{
	&.internasComum{
		/*background-color: #eee!important;*/

		&:before{
			display: none;
		}

		#mainContent{
			.wrapper{
				padding-top: 30px; 	
			}
		}

		.pageHeader{
			padding-bottom: 0;
		}

		#returnToTop{
			display: none!important;
		}

		&.busca-vazia{
			#wrapperPrateleira{
				display: none;
			}
			
			@media screen and (max-width: 680px) {
	            .prateleira{
	                ul{
	                    li{
	                        padding-top: 0;
	                        margin-left: 0.5%;
	                        margin-right: 0.5%;
	                    }
	                }
	            }
	        }
		}

		&.resultado-busca {

			.resultadoDaBusca{
				text-align: center;
				color: $black;
				margin-bottom: 40px;
				margin-top: 40px;

				span{
					font-size: 16px;
					color: $black;
					font-weight: 800;
					text-transform: uppercase;
				}
				.total{
					display: inline-block;
					font-size: 14px;
					margin-left: 10px;
					text-transform: none;
				}
			}

			.wrapperNaoEncontrado{
				text-align: center;
				overflow: hidden;
				margin-bottom: 60px;
				padding-top: 5px;

				h3{
					font-weight: 500;
					margin-bottom: 15px;
					color: $black;
					font-family: inherit;
					font-size: 22px;
				}

				img.naoEncontrada{
					display: block;
					margin: 0 auto;
				}

				.resultadoDaBusca{
					font-weight: 300;
					margin-top: 15px;
					margin-bottom: 0;
					color: $black;
					font-family: inherit;

					strong{
						font-weight: 500;
					}
				}

				.oquefazer{
					margin-top: 20px;
				    line-height: 22px;
				    font-size: 14px;
				    letter-spacing: 1px;
				    color: #6f6f6f;
				}

				@media screen and (max-width: 620px) {
					span{
						font-size: 14px;
					}

					h3{
						font-size: 18px;
					}

					.oquefazer{
						font-size: 12px;
						letter-spacing: 0.5px;
					}
				}
			}
		}

		.titlePag{
			text-align: center;
			border-bottom: 1px solid #dcdcdc;
			padding-bottom: 10px;
			margin-bottom: 20px;

			h2{
				&.titulo-sessao{
					text-align: center;
					display: none;
					font-family: inherit;
					color: #be9857;
					font-weight: 800;
					font-size: 24px;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
			}
		}

		button.filtrar{
			width: max-content;
			border: 0;
			padding: 0;
			background-color: $black;
			text-transform: uppercase;
			font-family: inherit;
			font-size: 0px;
			font-weight: 800;
			letter-spacing: 2px;
			line-height: inherit;
			text-align: center;
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 10px;
			padding-bottom: 10px;
			display: none;
			margin: 0 auto;
			margin-bottom: 20px;
			cursor: pointer;
			-moz-transition: all 0.2s;
		    -webkit-transition: all 0.2s;
		    transition: all 0.2s;

		    strong{
		    	display: inline-block;
		    	color: #be9857;
		    	font-size: 14px;
		    	margin-left: 5px;
		    }

		    div{
		    	display: inline-block;
		    	width: 20px;

		    	span{
		    		height: 2px;
		    		width: 20px;
		    		display: block;
		    		clear: both;
		    		background-color: #999999;

		    		&:nth-child(2){
		    			margin-top: 2px;
		    			margin-bottom: 2px;
		    		}
		    	}
		    }

			&:focus{
				outline: none;
			}
		}

		.sidebar{
			width: 260px;
			float: left;
			display: none;

			h3{
				width: max-content;
				font-family: inherit;
				font-size: 14px;
				font-weight: 800;
				margin-bottom: 10px;
				/*padding-left: 20px;
				padding-right: 20px;*/
				/*padding-top: 6px;
				padding-bottom: 6px;*/
				text-transform: uppercase;
				/*background-color: #000;*/
				/*color: #be9857;*/
				color: $black;

				a{
					color: $black;
				}
			}

			ul{
				padding-left: 20px;

				li{
					text-transform: uppercase;
					font-family: inherit;
					color: #555555;
					letter-spacing: 1px;
					line-height: 24px;
					display: block;
					cursor: pointer;

					a{
						color: #555555;

						&:hover{
							color: $black;
						}
					}
				}
			}

			.wrapperFiltros{
				.top{
					display: none;
				}

				.menu-departamento{
					.menu-navegue,
					.bt-refinar{
						display: none;
					}
				}
			}

			fieldset{
				display: block;
				clear: both;
				margin-bottom: 25px;

				&.sortBy{
					label{
						&.ativo{
							color: $black;
						}
					}
				}

				&.filtro_marca{
					h5{
						font-size: 0!important;
					}
				}

				&.filtro_colors{
					label{
						margin-bottom: 5px;
						
						input{
							margin: 0;
						}

						.sr_box{
							float: left;
							width: 24px;
							height: 24px;
							display: inline-block;
							border: 1px solid #ccc;
						}

						&[title="Black"]{
							.sr_box{
                            	background-color: #000000;
                            }
                        }
                        &[title="Blue"]{
                        	.sr_box{
                            	background-color: #55a0f9;
                            }
                        }
                        &[title="Brown"]{
                        	.sr_box{
                            	background-color: #c88a54;
                            }
                        }
                        &[title="Green"]{
                        	.sr_box{
                            	background-color: #6bc887;
                            }
                        }
                        &[title="Gray"]{
                        	.sr_box{
                            	background-color: #bbbbbb;
                            }
                        }
                        &[title="Print"],
                        &[title="Multicolor"]{
                        	.sr_box{
	                            background-image: url('/arquivos/estampa-print.jpg?v=2');
	                            background-repeat: no-repeat;
	                            background-position: center;
	                        }
                        }
                        &[title="Nude"]{
                        	.sr_box{
                            	background-color: #f8daae;
                            }
                        }
                        &[title="Pink"]{
                        	.sr_box{
                            	background-color: #f07ed3;
                            }
                        }
                        &[title="Purple"]{
                        	.sr_box{
                            	background-color: #be88ee;
                            }
                        }
                        &[title="Red"]{
                        	.sr_box{
                            	background-color: #f56576;
                            }
                        }
                        &[title="White"]{
                        	.sr_box{
                            	background-color: #ffffff;
                            	border: 1px solid #ccc;
                            }
                        }
                        &[title="Yellow"]{
                        	.sr_box{
                            	background-color: #fcea72;
                            }
                        }
                        &[title="Orange"]{
                        	.sr_box{
                            	background-color: #ffc46f;
                            }
                        }
					}
				}

				h5,h3{
					width: max-content;
					font-family: inherit;
					font-size: 14px;
					font-weight: 800;
					margin-bottom: 10px;
					/*padding-left: 20px;
					padding-right: 20px;*/
					/*padding-top: 6px;
					padding-bottom: 6px;*/
					text-transform: uppercase;
					/*background-color: #000;*/
					/*color: #be9857;*/
					color: $black;

					a{
						color: $black;
					}
				}

				label{
					text-transform: uppercase;
					font-family: inherit;
					color: #555555;
					letter-spacing: 1px;
					line-height: 24px;
					display: block;
					cursor: pointer;

					a{
						color: #555555;

						&:hover{
							color: $black;
						}
					}

					&.sr_selected{
						color: $black;
						font-weight: 600;

						a{
							color: $black;
							font-weight: 600;
						}
					}

					&:hover{
						color: $black;
					}

					input{
						opacity: 0;
					}
				}

				&.filtro_size{
					label{
						min-width: 40px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						color: #bf9751;
						font-family: inherit;
						font-weight: 800;
						font-size: 14px;
						border: 1px solid #bf9751;
						cursor: pointer;
						float: left;
						margin-right: 5px;
						margin-bottom: 5px;
						position: relative;

						&:hover,
						&.sr_selected{
							background-color: #bf9751;
							color: #fff;
						}

						input{
							opacity: 0;
							position: absolute;
							top: 0;
							left: 0;
							width: 28px;
							height: 28px;
							cursor: pointer;
							padding: 0;
							margin: 0;
						}
					}
				}

				&.filtro_marca{
					h5{
						font-size: 0;

						&:before{
							content: 'Designers';
							display: block;
							font-size: 14px;
						}
					}
				}
			}

			.overlay{
				display: none;
			}
		}

		.wrapperRight{
			width: calc(100% - 270px);
			float: right;
			overflow: hidden;

			.main{
				overflow: hidden;
				margin-top: 10px;

				.searchResultsTime,
				.compare,
				.filterBy,
				.pager{
					display: none;
				}

				.vtexsr-emptySearch{
					h3{
						color: $black;
						text-align: center;
					}
				}

				.vitrine{
					&+.searchResultsTime{
						&+.sub{
							display: none;
						}
					}
				}

				button{
					&.filtrar{
						border: 1px solid #b5b5b5;
						color: #909090;
						text-transform: uppercase;
						background-color: $white;
						border-radius: 0;
						padding-left: 10px;
						padding-right: 10px;
						padding-top: 5px;
						padding-bottom: 5px;
						float: left;
						display: none;

						div{
							display: inline-block;
							width: 25px;
							height: 10px;
							margin-right: 5px;

							span{
								height: 2px;
								display: block;
								clear: both;
								background-color: #909090;
								margin: 0 auto;

								&:nth-child(1){
									width: 100%;
								}

								&:nth-child(2){
									width: 70%;
									margin-top: 2px;
									margin-bottom: 2px;
								}

								&:nth-child(3){
									width: 40%;
								}
							}
						}
					}
				}

				.sub{
					display: none;
				}	

				.confira-todos-produtos{
					width: max-content;
					border: 0;
					padding: 0;
					background-color: $black;
					text-transform: uppercase;
					color: #be9857;
					font-family: inherit;
					font-size: 0px;
					font-weight: 800;
					letter-spacing: 2px;
					line-height: inherit;
					text-align: center;
					padding-left: 25px;
					padding-right: 25px;
					padding-top: 10px;
					padding-bottom: 10px;
					display: block;
					margin: 0 auto;
					margin-top: 20px;
					cursor: pointer;
					-moz-transition: all 0.2s;
				    -webkit-transition: all 0.2s;
				    transition: all 0.2s;
				    display: none;

				    &:before{
				    	content: 'See more products';
				    	font-size: 14px;
				    	display: block;
				    }

					&:focus{
						outline: none;
					}

					&:hover{
						background-color: #be9857;
						color: $black;
					}
				}
			}
		}

		&.noPrice{
			.wrapperRight{
				a.please401{
					width: max-content;
					border: 0;
					padding: 0;
					background-color: $black;
					text-transform: uppercase;
					color: #be9857;
					font-family: inherit;
					font-size: 14px;
					font-weight: 800;
					letter-spacing: 2px;
					line-height: inherit;
					text-align: center;
					padding-left: 25px;
					padding-right: 25px;
					padding-top: 10px;
					padding-bottom: 10px;
					display: block;
					margin: 0 auto;
					margin-top: 20px;
					cursor: pointer;
					-moz-transition: all 0.2s;
				    -webkit-transition: all 0.2s;
				    transition: all 0.2s;

					&:focus{
						outline: none;
					}

					&:hover{
						background-color: #be9857;
						color: $black;
					}
				}
			}
		}

		&.yesPrice{
			.wrapperRight{
				.main{
					.confira-todos-produtos{
						display: block;
					}
				}

				a.please401{
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	body{
		&.internasComum{
			
			button.filtrar{
				display: block;
			}

			.titlePag{
				h2{
					&.titulo-sessao{
						font-size: 20px;
					}
				}
			}

			.sidebar{
			    position: fixed;
			    width: 100%;
			    height: 100%;
			    top: 0;
			    left: -100%;
			    z-index: 9999999999;

			    .bannerSidebar{
			    	display: none;
			    }

			    .overlay {
				    position: absolute;
				    right: 0;
				    top: 0;
				    width: calc(100% - 270px);
				    height: 100%;
				    background-color: $black;
				    filter: alpha(opacity=60);
				    opacity: 0.6;
				    display: block;

				    button{
				    	position: absolute;
					    width: 100%;
					    height: 100%;
					    background-color: transparent;
					    border: 0;
					    z-index: 999;
				    }
				}

				.wrapperFiltros {
				    position: absolute;
				    left: 0;
				    top: 0;
				    height: 100%;
				    width: 300px;
				    z-index: 999;
				    background-color: $white;
				    -webkit-box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.65);
				    -moz-box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.65);
				    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.65);

				    .top {
					    background-color: $black;
					    color: #bf9751;
					    padding-top: 18px;
					    padding-bottom: 18px;
					    display: block;
					    margin-bottom: 20px;

					    h3{
				    	    font-size: 14px;
				    	    font-weight: 800;
						    clear: both;
						    overflow: hidden;
						    font-family: inherit;
						    padding-left: 10px;
						    padding-right: 10px;
						    text-transform: uppercase;
					    }

					    button.close {
						    position: absolute;
						    right: 4px;
						    top: 10px;
						    font-size: 18px;
						    color: #bf9751;
						    background-color: transparent;
						    border: 0;

						    &:focus{
						    	outline: none;
						    }
						}
					}

					.menu-departamento{
						padding-left: 10px;
						padding-right: 10px;
					    height: calc(100% - 50px);
					    position: absolute;
					    width: 100%;
					    margin-top: 0;
					    overflow: scroll;

					    h3,
						h4,
						h5{
							font-size: 12px;

							&+ul{
								li{
									font-size: 11px;
								}
							}
						}
					}
				}
			}

			.wrapperRight{
				width: 100%;
				float: none;

				button{
					&.filtrar{
						width: max-content;
					    line-height: 22px;
					    margin-top: 10px;
					    float: right;
					    padding-left: 10px;
					    background-color: $white;
					    border: 1px solid black;
					    font-size: 12px;
					    cursor: pointer;
					    color: $black;
					    -webkit-border-radius: 4px;
					    -moz-border-radius: 4px;
					    border-radius: 4px;
					    display: block!important;

					    div{
							display: inline-block;
							width: 25px;
							height: 10px;
							margin-right: 5px;

							span{
								height: 2px;
								display: block;
								clear: both;
								background-color: red;
								margin: 0 auto;

								&:nth-child(1){
									width: 100%;
								}

								&:nth-child(2){
									width: 70%;
									margin-top: 2px;
									margin-bottom: 2px;
								}

								&:nth-child(3){
									width: 40%;
								}
							}
						}

						&:focus{
							outline: 0;
						}
					}
				}

				.main{
					.sub{
						overflow: hidden;
						height: inherit;
						padding-bottom: 8px;

						.filterBy{
							display: none!important;
						}

						.encontrado{
							display: none;
						}

						.orderBy{
							label{
								/*display: none;*/
							}
						}
					}

					@media screen and (max-width: 860px) {
						.prateleira{
							display: block!important;
							
							ul{
								display: flex;
								flex-wrap: wrap;

								li{
									width: 47%;

									.shelf-wrapper .wrapperConteudo .boxWrapPreceComprar a.pag401{
										width: inherit;
										line-height: 16px;
									}
								}
							}
						}
					}

					@media screen and (max-width: 380px) {
						.prateleira{
							ul{
								li{
									width: 100%;
									margin-left: 0;
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}