/* ==========================================================================
   Common
   ========================================================================== */
   body{
	background: #fff !important;
	color: $color1;
	font-size: rem(14px);
    font-family: $primaryFont !important;
    line-height: normal;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px transparent;
    -moz-text-stroke: 1px transparent;
    -ms-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;

    @include media($tablet) {
        &.menuOpen {
            overflow: hidden;
        }
    }	
}
.wrapper{
	@include outer-container();
	padding-left: 20px;
	padding-right: 20px;
}

.right{
	text-align: right;
}

.seoStoreName{display: none;}

#ajaxBusy{
	position: absolute;
	top: 5px;
	left: 5px;
}

/*breadcrumb*/
// MIXIN, substituir parametros:
// @include breadcrumb($color, $colorActive)

