/* ==========================================================================
   Home
   ========================================================================== */
body.home {
    
    .fullGallery {
        &#tvDesktop {
            /*background-color: #eee !important;*/

            ul.slick-dots{
                position: inherit;
                bottom: inherit;
            }
        }
        &#tvMobile {
            display: none;
		}

		@include media($mobile) {
			&#tvDesktop {
				display: none;
			}
			&#tvMobile {
				display: block;
			}
		}
	}
    section {
        .box-banner {
            a {
                font-size: 0;
                line-height: 0;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    // Section ONE
    .sectionOne {
        margin-top: 20px;

        h3 {
            padding: 15px 0;
            font-size: rem(12px);
            text-align: center;
            text-transform: uppercase;
        }
        .colOne {
            @include span-columns(7);
            width: 59%;
        }
        .colTwo {
            @include span-columns(5);
            width: 38%;
            float: right;
        }

        .box-banner img{
            display: block;
        }

        @include media($mobile) {
            .colOne {
                margin-bottom: 20px;
            }
            .colOne,
            .colTwo {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    // Section TWO
    .sectionTwo {
        padding: 8px 0;
        h3 {
            padding: 15px 0;
            font-size: rem(12px);
            text-align: center;
            text-transform: uppercase;

            em {
                color: $color3;
            }
        }
        .col {
            @include span-columns(3);

            p {
                text-align: center;
                font-weight: 300;
                letter-spacing: 2px;
                text-transform: uppercase;
                a {
                    display: table;
                    padding: 2px 4px;
                    margin: auto;
                    margin-top: 5px;
                    border: 1px solid #000;
                    color: #000;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 0;
                }
            }
        }

        @include media($mobile) {
            .col {
                @include span-columns(2);
                margin-bottom: 20px;
                &:nth-child(2n) {
                    @include omega();
                }
            }
        }
    }

    // Section THREE
    .sectionThree {
        padding: 8px 0;        
        .colOne,
        .colTwo {
            @include span-columns(6);
            @include media($mobile) {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-right: 0;
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .videoBox{
        iframe{
            width: 100%;
            height: 500px;
        }
    }

    .featuredProducts{
        margin-top: 20px;

        .slick-arrow{
            width: 12px;
            height: 39px;
            position: absolute;
            font-size: 0;
            z-index: 99;
            top: 50%;
            margin-top: -19.5px;
            cursor: pointer;
            background-color: transparent;
            padding: 0;
            border: 0;

            &::after{
                content: '\203A';
                display: block;
                font-size: 32px;
                color: #be9857;
            }

            &.slick-prev{
                left: 0px;
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }

            &.slick-next{
                right: 0px;
            }
        }
        
        .prateleira ul li{
            width: 22%;
        }

        .slick-dots{
            position: static;
            justify-content: center;
            margin-bottom: 20px;

            li{
                padding-top: 0!important;
                margin-bottom: 0!important;
                margin-left: 2.5px;
                margin-right: 2.5px;
                width: max-content!important;
            }
        }
    }

    // Section FOUR
    .sectionFour {
        padding: 8px 0;        
        .col {
            @include span-columns(4);

            p {
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                a {
                    color: #000;
                }
            }
        }

        @include media($mobile) {
            .col {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-right: 0;
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    // Section FIVE
    .sectionFive {
        padding: 8px 0;
        .colOne {
            @include span-columns(3);
            width: 23.5%;
        }
        .colTwo {
            @include span-columns(9);
            width: 69.5%;
            float: right;
        }

        .box-banner img{
            display: block;
        }

        @include media($mobile) {
            .colOne {display: none}
            .colTwo {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-right: 0;    
            }
        }
    }

    // Section Six 
    .sectionSix {
        padding: 8px 0;
        .colOne,
        .colTwo {
            @include span-columns(6);
            @include media($mobile) {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-right: 0;
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    // Section SEVEN
    .sectionSeven {
        padding: 8px 0;
        .colOne,
        .colTwo,
        .colThree {
            @include span-columns(4);   
            @include media($mobile) {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-right: 0;
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }
            }        
        }
    }

    // .
    .ownLabel {
        background: #000;
        padding: 20px 0;
        text-align: center;
        p {
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            a {
                display: block;
                color: #fff;
                letter-spacing: 1px;
                line-height: 1.5;
            }
        }
    }

    // News Register
    #register {
        padding: 35px 0;
        h5 {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;

            span {
                display: block;
                margin: 10px 0 25px;
                font-weight: 400;
                text-transform: none;
            }
        }
        .campos {
            display: table;
            margin: auto;
            .inputEmail {
                display: table-cell;
                vertical-align: middle;
                max-width: 390px;

                input {
                    width: 100%;
                    height: 50px;
                    border: 1px solid $color2;
                    padding: 0 15px;
                    font-family: $primaryFont;
                    color: $color2;
                    font-size: 16px;
                }
            }
            .inputButton {
                display: table-cell;
                vertical-align: middle;
                padding-left: 15px;
                white-space: nowrap;
                button {
                    height: 50px;
                    background: #000;
                    padding: 0 15px;
                    border: 0;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    @include appearance(none);
                }
            }
        }
        .success {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            
        }
        .erro {
            display: none;
            text-align: center;

            p {
                font-size: 16px;
                font-weight: 600;
            }
            a {
                display: inline-block;
                height: 50px;
                margin-top: 15px;
                background: #000;
                padding: 0 15px;
                border: 0;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                white-space: nowrap;
                line-height: 50px;
            }
        }

        @include media($mobile) {
            .campos {
                display: block;
                .inputEmail {
                    display: block;
                    max-width: 100%;
                }
                .inputButton {
                    display: block;
                    width: 100%;
                    padding-left: 0;
                    padding-top: 15px;
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }

    // instaBox
    #instaBox {
        h3 {
            padding: 15px 0;
            font-size: rem(12px);
            text-align: center;
            text-transform: uppercase;
        }
        #instagram {
            display: table;
            width: 100%;
            &:after {display: none;}
        }

        .instaItem {
            display: table-cell;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;

            a {
                display: block;
                line-height: 0;
                font-size: 0;

                &:before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                    background: rgba(0,0,0,0.6) url('/arquivos/logo-instagram.png') no-repeat center center;   
                    @include transition(all .3s ease);                    
                    @include opacity(0);                                     
                }
                &:hover {
                    &:before {
                        @include opacity(1);                        
                    }
                }
            }
        }

        @include media($mobile) {
            #instatram {
                display: block;
            }
            .instaItem {
                display: block;
                float: left;
                width: 33.3333%
            }
        }
    }
}