/* ==========================================================================
   404
   ========================================================================== */
body{
	&.pag404{
		.background{
			width: 100%;
			height: 550px;
			background-image: url('/arquivos/ShopCouture-tela-erro_02.jpg');
			background-repeat: no-repeat;
			background-position: center;


			.texto{
				position: absolute;
				left: 50%;
				margin-top: 100px;

				h2,span,p{
					font-family: inherit;
					letter-spacing: normal;
					text-transform: uppercase;
					display: block;
					clear: both;
					width: 100%;
					font-style: italic;
				}

				h2{
					font-size: 28px;
					font-weight: 800;
					line-height: 24px;
				}

				span{
					font-size: 18px;
					margin-top: 15px;
					margin-bottom: 15px;
					line-height: 18px;
				}

				p{
					font-size: 13px;
					font-style: normal;
				}
			}
		}
	}
}