/* 
=============================================
----------------- PRODUTO -------------------
=============================================
*/
@-webkit-keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(100px);transform:translateY(100px)}}@keyframes slide-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(100px);transform:translateY(100px)}}

body{
    &.produto{   
        background-color: #fff!important;

        &:before{
            display: none;
        }

        .wrapper{
        }

        .pageFooter{
            .wrapper{
                margin-bottom: 0;
            }
        }

        .pageHeader{
            padding-bottom: 0;
        }

        .tpl-center{
            padding-top: 20px;

            section{
                &#area-a{
                    clear: both;
                    overflow: hidden;
                    margin-bottom: 0px;
                    padding-top: 15px;

                    .left{
                        float: left;
                        width: 48%;
                        padding-bottom: 5px;
                        position: relative;

                        .apresentacao{
                            #include{
                                clear: both;
                                width: calc(100% - 150px);
                                float: right;
                                overflow: hidden;
                                position: relative;

                                img{
                                    width: 100%;
                                    height: auto;
                                }
                                    
                                .image-zoom {
                                    position: relative;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    margin-bottom: 0px;
                                }
                                .zoomPad {
                                    position: relative;
                                    display: block;
                                }
                                .zoomWindow {
                                    top: 0 !important;
                                    left: 0 !important;
                                    width: 100%;
                                    height: 100%;
                                    overflow: hidden;
                                    background-color: $white;
                                    z-index: 1!important;

                                    .zoomWrapperImage{
                                        img{
                                            width: 1250px;
                                            height: auto;
                                        }
                                    }
                                }
                                .zoomPup {
                                    background-color: #ccc;
                                    z-index: 5002;
                                    opacity: 0.2;
                                    cursor: crosshair;
                                }
                            }
                            ul.thumbs{
                                float: left;
                                display: block;
                                width: 120px;

                                .slick-arrow{
                                    width: 20px;
                                    height: 20px;
                                    position: absolute;
                                    font-size: 0;
                                    z-index: 9;
                                    top: 50%;
                                    margin-top: -25px;
                                    left: 50%;
                                    margin-left: -20px;
                                    cursor: pointer;
                                    background-color: transparent;
                                    padding: 0;
                                    border: 0;

                                    &::after{
                                        content: '▸';
                                        display: block;
                                        font-size: 32px;
                                        color: #be9857;
                                    }

                                    &.slick-prev{
                                        top: 0px;
                                        -moz-transform: rotate(-90deg);
                                        -webkit-transform: rotate(-90deg);
                                        -o-transform: rotate(-90deg);
                                        -ms-transform: rotate(-90deg);
                                        transform: rotate(-90deg);
                                    }

                                    &.slick-next{
                                        top: 420px;
                                        margin-left: 0;
                                        -moz-transform: rotate(90deg);
                                        -webkit-transform: rotate(90deg);
                                        -o-transform: rotate(90deg);
                                        -ms-transform: rotate(90deg);
                                        transform: rotate(90deg);
                                    }
                                }

                                li{
                                    width: 120px;
                                    height: 120px;
                                    overflow: hidden;
                                    margin-bottom: 10px;
                                    clear: both;

                                    a{
                                        width: 120px;
                                        height: 120px;
                                        line-height: 120px;
                                        margin: 0 auto;
                                        opacity: 0.2;
                                        filter: alpha(opacity=20);
                                        display: block;
                                        overflow: hidden;
                                        text-align: center;
                                        -moz-transition: all 0.2s;
                                        -webkit-transition: all 0.2s;
                                        transition: all 0.2s;

                                        &.ON,
                                        &:hover{
                                            opacity: 1;
                                            filter: alpha(opacity=100);
                                            border: 1px solid #black;
                                        }

                                        img{
                                            width: 112px;
                                            height: 112px;
                                            margin: 0 auto;
                                        }
                                    }
                                }
                            }
                        }

                        .description{
                            clear: both;
                            overflow: hidden;
                            margin-top: 18px;

                            h3{
                                text-transform: uppercase;
                                color: $black;
                                font-weight: 600;
                                clear: both;
                                display: block;
                                margin-bottom: 15px;
                                text-decoration: underline;
                            }

                            .recebe{
                                font-weight: 400;
                                font-size: 13px;
                                line-height: 20px;
                                font-family: inherit;
                                color: #555555;
                            }
                        }
                    }

                    .right{
                        width: 48%;
                        float: right;
                        position: relative;

                        .wrapper{
                            clear: both;
                            padding-left: 0;
                            padding-right: 0;

                            &.flags{
                                display: none;
                            }

                            &.nome{
                                font-size: 18px;
                                text-align: left;
                                font-weight: 500;
                                line-height: 24px;
                                color: $black;
                                text-transform: uppercase;
                                font-family: inherit;
                            }
                            &.brand{
                                overflow: hidden;
                                border-bottom: 1px solid #d3d3d3;
                                padding-bottom: 10px;       
                                text-align: left;

                                a{
                                    font-family: inherit;
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: $black;
                                }
                            }
                            &.sku{
                                position: relative;
                                text-align: center;
                                overflow: hidden;
                                display: none;
                            }
                            &.grade{
                                overflow: visible;

                                .headGridList{
                                    background-color: #dee1e1;
                                    padding-top: 10px;
                                    padding-bottom: 10px;

                                    .colum{
                                        width: 60px;
                                        float: right;
                                        text-align: center;
                                        font-weight: 800;
                                        margin-left: 8px;
                                    }
                                }
                                .allLines{
                                    .line{
                                        clear: both;
                                        border-top: 1px solid #d3d3d3;
                                        border-bottom: 1px solid #d3d3d3;
                                        margin-top: 5px;
                                        padding-top: 8px;
                                        padding-bottom: 8px;

                                        .thumb{
                                            width: 150px;
                                            float: left;
                                            display: inline-block;
                                            text-align: left;

                                            button{
                                                width: 44px;
                                                height: 44px;
                                                border: 1px solid #d3d3d3;
                                                padding: 0;
                                                display: inline-block;
                                                cursor: pointer;
                                                float: left;

                                                &.Black{
                                                    background-color: #000000;
                                                }
                                                &.Blue{
                                                    background-color: #55a0f9;
                                                }
                                                &.Brown{
                                                    background-color: #c88a54;
                                                }
                                                &.Green{
                                                    background-color: #6bc887;
                                                }
                                                &.Gray{
                                                    background-color: #bbbbbb;
                                                }
                                                &.Print,
                                                &.Multicolor{
                                                    background-image: url('/arquivos/estampa-print.jpg?v=2');
                                                    background-repeat: no-repeat;
                                                    background-position: center;
                                                }
                                                &.Nude{
                                                    background-color: #f8daae;
                                                }
                                                &.Pink{
                                                    background-color: #f07ed3;
                                                }
                                                &.Purple{
                                                    background-color: #be88ee;
                                                }
                                                &.Red{
                                                    background-color: #f56576;
                                                }
                                                &.White{
                                                    background-color: #ffffff;
                                                }
                                                &.Yellow{
                                                    background-color: #fcea72;
                                                }
                                                &.Orange{
                                                    background-color: #ffc46f;
                                                }
                                            }

                                            span{
                                                display: inline-block;
                                                float: left;
                                                text-align: left;
                                                margin-left: 10px;
                                                height: 44px;
                                                line-height: 44px;
                                                font-size: 12px;
                                                text-transform: uppercase;
                                                font-weight: 800;
                                            }
                                        }

                                        .sizes{
                                            float: right;
                                            width: calc(100% - 150px);

                                            .item{
                                                float: right;
                                                display: inline-block;
                                                width: 60px;
                                                height: 44px;
                                                margin-left: 8px;
                                                text-align: center;
                                                position: relative;

                                                &:first-child{
                                                    &:hover{
                                                        .tooltip{
                                                            left: -40px;

                                                            &:after, 
                                                            &:before {
                                                                left: 70%;
                                                            }
                                                        }
                                                    }
                                                }

                                                .tooltip{
                                                    display: none;
                                                }

                                                &:hover{
                                                    .tooltip{
                                                        width: 100px;
                                                        display: block;
                                                        background-color: #000;
                                                        padding: 5px;
                                                        padding-right: 0px;
                                                        padding-left: 0px;
                                                        color: #fff;
                                                        font-size: 12px;
                                                        font-weight: 500;
                                                        position: absolute;
                                                        border: 1px solid $black;
                                                        text-transform: none;
                                                        line-height: 16px;
                                                        top: -150px;
                                                        z-index: 999999;
                                                        left: -20px;
                                                        -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                                            animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                                                        &:after, 
                                                        &:before {
                                                            top: 100%;
                                                            left: 50%;
                                                            border: solid transparent;
                                                            content: " ";
                                                            height: 0;
                                                            width: 0;
                                                            position: absolute;
                                                            pointer-events: none;
                                                        }
                                                        &:after {
                                                            border-color: rgba(0, 0, 0, 0);
                                                            border-top-color: #000;
                                                            border-width: 5px;
                                                            margin-left: -5px;
                                                        }
                                                        &:before {
                                                            border-color: rgba(228, 228, 228, 0);
                                                            border-top-color: $black;
                                                            border-width: 6px;
                                                            margin-left: -6px;
                                                        }
                                                    }
                                                }

                                                input{
                                                    width: 90%;
                                                    height: 44px;
                                                    text-align: center;
                                                    border: 1px solid $black;

                                                    &.disabled{
                                                        background-color: #dee1e1;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .buyProduct{
                                    padding-top: 20px;
                                    padding-bottom: 0px;
                                    margin-top: 5px;
                                    background-color: #dee1e1;
                                    text-align: center;

                                    div{
                                        font-family: inherit;

                                        &.priceUnite{
                                            margin-top: 5px;
                                        }

                                        strong{
                                            font-weight: 800;
                                        }

                                        span{
                                            margin-left: 5px;
                                            color: #be9857;
                                            font-weight: 800;
                                        }
                                    }

                                    .bts{
                                        margin-top: 20px;
                                        background-color: #eee;

                                        button{
                                            &.bt{
                                                width: calc(50% - 2.5px);
                                                height: 60px;
                                                line-height: 60px;
                                                border: 0;
                                                cursor: pointer;
                                                border-radius: 0;
                                                padding: 0;
                                                margin-top: 5px;

                                                span{
                                                    display: inline-block;
                                                    text-transform: uppercase;
                                                    font-family: inherit;
                                                    color: $white;
                                                    font-weight: 800;
                                                    font-size: 14px;
                                                }

                                                &.addToBag{
                                                    float: left;
                                                    background-color: #b0b0b0;

                                                    i{
                                                        background-size: 17px;
                                                        display: inline-block;
                                                        color: $white;
                                                        width: 17px;
                                                        height: 20px;
                                                        top: 4px;
                                                        position: relative;
                                                        right: 10px;
                                                    }

                                                    &:hover{
                                                        span{
                                                            color: $black;
                                                        }
                                                    }
                                                }

                                                &.buyNow{
                                                    float: right;
                                                    background-color: $black;
                                                }

                                                &:focus{
                                                    outline: none;
                                                }

                                                &:hover{
                                                    span{
                                                        color: #be9857;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                @media screen and (max-width: 460px) {
                                    .headGridList{
                                        text-align: center;

                                        .colum{
                                            width: 50px;
                                            float: inherit;
                                            display: inline-block;
                                        }
                                    }
                                    .allLines{
                                        .line{
                                            .thumb{
                                                clear: both;
                                                float: none;
                                                margin: 0 auto;
                                                text-align: center;
                                                display: block;
                                                width: max-content;
                                                margin-bottom: 10px;
                                            }
                                            .sizes{
                                                float: none;
                                                width: 100%;
                                                text-align: center;

                                                .item{
                                                    width: 50px;
                                                    float: none;
                                                    display: inline-block;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.preco{
                                text-align: left;
                                margin-top: 10px;
                                margin-bottom: 0px;

                                .valor-de{
                                    clear: both;
                                    display: block;
                                    font-style: normal;
                                    text-transform: uppercase;
                                    font-size: 0px;
                                    text-decoration: line-through;
                                    text-align: left;
                                    color: #ccc;
                                    margin-bottom: 10px;

                                    .skuListPrice{
                                        font-weight: 300;
                                        font-size: 14px;
                                    }
                                }
                                .valor-por{
                                    color: #be9857;
                                    clear: both;
                                    display: block;
                                    font-style: normal;
                                    text-align: left;
                                    margin-top: 0px;
                                    font-size: 0;

                                    strong{
                                        font-size: 18px;
                                        font-weight: 500;
                                    }
                                }
                                .valor-dividido{
                                    display: block;
                                    overflow: hidden;
                                    color: $black;
                                    font-weight: 400;
                                    font-size: 0px;
                                    margin-top: 10px;
                                    clear: both;
                                    display: block;
                                    width: 100%;
                                    font-style: normal;
                                    text-align: left;

                                    label{
                                        &.skuBestInstallmentNumber{
                                            font-weight: 600;
                                            font-size: 12px;

                                            &:after{
                                                content: ' sem juros de ';
                                                font-weight: 400;
                                            }
                                        }
                                    }

                                    strong{
                                        font-weight: 800;
                                        font-size: 12px;
                                    }
                                }
                                .economia-de,
                                .preco-a-vista{
                                    display: none!important;
                                }
                            }
                            &.botao{
                                a.buy-button{
                                    display: none!important;
                                }

                                .notifyme{
                                    clear: both;
                                    padding-bottom: 20px;

                                    h3{
                                        &.notifymetitle{
                                            font-size: 16px;
                                            text-transform: uppercase;
                                            text-align: left;
                                            color: $black;
                                            font-weight: 400;
                                            display: block;
                                        }
                                    }
                                    form{
                                        fieldset.notifyme-form{
                                            text-align: left;

                                            p{
                                                padding-top: 5px;
                                                padding-bottom: 5px;
                                                font-size: 13px;
                                                text-align: left;
                                                line-height: 18px;
                                                width: 100%;
                                                margin: 0 auto;
                                            }

                                            input[type="text"]{
                                                border: 1px solid #ccc;
                                                font-size: 12px;
                                                height: 32px;
                                                width: 100%;
                                                clear: both;
                                                margin-bottom: 10px;
                                                padding-left: 10px;

                                                &:focus{
                                                    outline: none;
                                                }
                                            } 
                                            input[type="button"]{
                                                text-transform: uppercase;
                                                padding-left: 27px;
                                                padding-right: 27px;
                                                color: $white;
                                                border: 0;
                                                width: 100%;
                                                height: 42px;
                                                text-align: center;
                                                background-color: #434343;
                                                -webkit-border-radius: 4px;
                                                -moz-border-radius: 4px;
                                                border-radius: 4px;
                                                border: 1px solid #434343;
                                                -moz-transition: all 0.3s;
                                                -webkit-transition: all 0.3s;
                                                transition: all 0.3s;
                                                cursor: pointer;
                                            }
                                            input[type="button"]:hover{
                                                background-color: #cd484d;
                                                border-color: #cd484d;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                    fieldset.success{
                                        label{
                                            right: 0!important;
                                            top: 0!important;

                                            em{
                                                font-style: normal;
                                                margin-top: 10px;
                                                float: left;
                                                line-height: 20px;
                                            }
                                        }
                                    }
                                }

                                a{
                                    &.buy-button{
                                    }
                                }
                            }
                        }
                    }
                }

                &#qcctb{
                    margin-top: 40px;
                    display: none;

                    h2{
                        height: 12px;
                        text-transform: uppercase;
                        font-size: 18px;
                        margin-bottom: 30px;
                        font-weight: 600;
                        color: #1b1b1b;
                        font-family: inherit;
                        display: block;
                        text-align: left;
                        border-bottom: 1px solid #d3d3d3;

                        div{
                            text-align: center;
                            background-color: #fff;
                            padding-left: 10px;
                            padding-right: 10px;
                            width: max-content;
                            margin: 0 auto;
                        }
                    }
                    
                    .slick-list {
                        width: calc(100% - 30px);
                        margin: 0 auto;

                        li{
                            margin-bottom: 0!important;

                            a{
                                display: block;

                                img{
                                    margin: 0 auto;
                                }

                                @media screen and (max-width: 600px) {
                                    img{
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }

                    .slick-track{
                        display: flex;
                        align-items: stretch; 
                        justify-content: center;
                        
                        .slick-slide{
                            height: auto;       
                        }
                    }
                    
                    .prateleira{
                        ul{
                            li{
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                        }
                    }

                    .slick-arrow{
                        width: 12px;
                        height: 39px;
                        position: absolute;
                        font-size: 0;
                        z-index: 99;
                        top: 50%;
                        margin-top: -19.5px;
                        cursor: pointer;
                        background-color: transparent;
                        padding: 0;
                        border: 0;

                        &::after{
                            content: '▸';
                            display: block;
                            font-size: 32px;
                            color: #be9857;
                        }

                        &.slick-prev{
                            left: 0px;
                            -moz-transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }

                        &.slick-next{
                            right: 0px;
                        }
                    }
                }
            }
        }
    }
}

/* 
=============================================
----------------- PRODUTO -------------------
=============================================
*/

@media screen and (max-width: 1380px) {
    body{
        &.produto{
            .wrapper{
                padding-left: 10px;
                padding-right: 10px;
            }

            .tpl-center{
                width: 100%;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    body{
        &.produto{
            .tpl-center{
                section{
                    &#area-a{
                        overflow: visible;
                        margin-top: 0px;

                        .left{
                            float: none;
                            clear: both;
                            width: 100%;

                            .apresentacao{
                                display: none;

                                #image{
                                    width: 100%;
                                }

                                #show{
                                    #include{
                                        display: none;
                                    }

                                    ul.thumbs{
                                        width: 100%;
                                        padding-right: 0px;

                                        .slick-arrow{
                                            display: none;
                                        }

                                        ul.slick-dots{
                                            li{
                                                height: inherit;
                                            }
                                        }

                                        li{
                                            width: 100%;
                                            height: auto;
                                            float: left;
                                            clear: none;
                                            margin-bottom: 0;
                                            text-align: center;

                                            a{
                                                width: 100%;
                                                height: auto;
                                                line-height: auto;
                                                border: 0;
                                                opacity: 1;
                                                filter: alpha(opacity=100);

                                                &.ON{
                                                    border: 0;
                                                }

                                                img{
                                                    height: auto;
                                                    max-width: 320px;
                                                    width: inherit;
                                                    margin: 0 auto;
                                                }
                                            }
                                        }
                                    }
                                }
                                ul{
                                    &.slick-dots{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .right{
                            width: 100%;
                            float: none;
                            clear: both;
                            position: relative;
                            top: 20px;

                            .wrapper{
                                &.nome{
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                                &.fretegratis{
                                    font-size: 12px;
                                }
                                &.botao .quantidade label{
                                    font-size: 12px;
                                }
                                &.frete #calculoFrete{
                                    width: 100%;

                                    fieldset .frete-calcular #btnFreteSimulacao{
                                        font-size: 10px;
                                    }

                                    .freight-values table thead tr th{
                                        line-height: 18px;
                                        font-size: 10px;
                                    }
                                }       
                            }
                        }
                    }

                    &#area-b{
                        .wrapper{
                            width: 100%!important;
                            float: inherit!important;
                            margin: 0!important;

                            &.aplicacao,
                            &.caracteristicas{
                                ul{
                                    li{
                                        font-size: 14px!important;

                                        &:before{
                                            width: 34px;
                                            height: 34px;
                                            line-height: 34px;
                                            font-size: 16px;
                                        }

                                        span{
                                            min-height: 32px;
                                            padding-top: 0;
                                            width: calc(100% - 45px);
                                        }

                                        p{
                                            padding-top: 0;
                                            width: calc(100% - 45px);
                                        }
                                    }
                                }
                            }

                            &.aplicacao{
                                margin-top: 40px!important;
                            }

                            h3{
                                font-size: 16px;
                            }
                        }
                    }

                    &#area-c{
                        .wrapper{
                            h3{
                                font-size: 16px;
                            }
                            .recebe{
                                font-size: 11px!important;
                                font-family: inherit;
                            }
                        }
                    }

                    &#area-d{
                        .wrapper{
                            h3{
                                font-size: 16px;
                            }
                            .recebe{
                                font-size: 11px!important;
                                font-family: inherit;
                            }
                        }
                    }

                    &#qcctb{
                        .prateleira{
                            h2{
                                font-size: 16px;
                                line-height: 22px;
                                margin-bottom: 20px;
                            }
                        }
                    }

                    &#compreJunto{
                        h4{
                            font-size: 16px;
                        }
                    }

                    &.wrapperReview{
                        h2{
                            font-size: 16px;
                            line-height: 22px;
                            margin-bottom: 20px;
                        }

                        .btn-avaliar-bottom, 
                        .btn-avaliar-top,
                        .yv-btn-primary,
                        .yv-bt-send-question{
                            font-size: 12px!important;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    body.produto{
        .tpl-center{
            section{
                &#qcctb{
                    .prateleira{
                        .slick-arrow{
                            background-size: 30px;
                            width: 15px;
                            margin-top: -17.5px;
                        }
                        .slick-list{
                            width: calc(100% - 30px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    body.produto{
        .tpl-center{
            section{
                &#area-a{
                    .left{
                        .apresentacao{
                            ul.thumbs{
                                li{
                                    img{
                                        &.unica{
                                            width: 100%;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .prateleira{
            li{
                min-height: 410px;

                .shelf-wrapper{
                    .wrapperConteudo{
                        .product-name{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    body.produto{
        section{
        }
    }
}

@media screen and (max-width: 600px) {
    body.produto{
        .prateleira{
            li{
                width: 49%;
                min-height: 480px;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    body.produto{
        .tpl-center{
            section{
                &#area-a{
                    .left{
                        .box-banner{
                            a{
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    body.produto{
        .prateleira{
            li{
                min-height: 400px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    body.produto{
        .prateleira{
            li{
                width: 100%;
                min-height: auto;
                margin-left: 0;
            }
        }

        .tpl-center{
            section{
                &#qcctb{
                    margin-top: 40px;
                    display: none;

                    h2{
                        border: 0;
                        height: auto;

                        div{
                            padding-left: 0;
                            padding-right: 0;
                            text-align: left;
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    body{
        &.produto{

            .tpl-center{
                section{
                    &#area-a{
                        .left{
                            float: left;
                            width: 60%;
                        }
                        .right{
                            width: 37%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    body{
        &.produto{
            .tpl-center{
                section{
                    &#area-a{
                        overflow: visible;
                        padding-bottom: 40px;

                        .left{
                            float: none;
                            clear: both;
                            width: 100%;
                        }
                        .right{
                            width: 100%;
                            float: none;
                            clear: both;
                            position: relative;
                            top: 20px;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    body{
        &.produto{
            .tpl-center{
                section{
                    &#area-a{
                        .right{
                            .wrapper{
                                &.similares{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}